In [1]:
import json
import os
import pandas as pd

from os import listdir
from os.path import isfile, join

In [2]:
path = os.getcwd()
path

'C:\\Users\\admin\\Desktop\\yes24'

In [3]:
files = [f for f in listdir(path+'/capstone_orders') if isfile(join(path+'/capstone_orders', f))]
json_files = pd.DataFrame({"file_id" : files})

In [4]:
with open(path+'/capstone_orders/'+json_files['file_id'][0], encoding = 'utf-8') as f:
    data = pd.DataFrame(json.loads(line) for line in f)

In [ ]:
for i in range(199):
    with open(path+'/capstone_orders/'+json_files['file_id'][i+1], encoding = 'utf-8') as f:
        tmp = pd.DataFrame(json.loads(line) for line in f)
    data = pd.concat([data, tmp])

In [12]:
data()

,product_id,order_id,account_id,price,created_at,order_type_nm,account_type_nm,product_name,category_id
0,2423,221558207,7914693,8100.0,1588731078973,제휴사주문,일반회원,소나기 : 황순원 단편집,001019
1,2423,221572169,658601,8100.0,1588743019993,제휴사주문,일반회원,소나기 : 황순원 단편집,001019
2,2423,219790245,6967943,8100.0,1586667926067,제휴사주문,일반회원,소나기 : 황순원 단편집,001019
3,2423,219798213,667368,8100.0,1586676001750,제휴사주문,일반회원,소나기 : 황순원 단편집,001019
4,2423,219813033,1411396,8100.0,1586690093990,제휴사주문,일반회원,소나기 : 황순원 단편집,001019
...,...,...,...,...,...,...,...,...,...
99248,90373276,223015009,2634477,15200.0,1590573663237,제휴사주문,일반회원,2020 헌법 조문정리,001001
99249,90373276,223047511,14726964,15200.0,1590627003253,제휴사주문,일반회원,2020 헌법 조문정리,001001
99250,90373276,223092031,811665,15200.0,1590671388163,제휴사주문,일반회원,2020 헌법 조문정리,001001
99251,90373276,223160062,6192411,15200.0,1590764545493,제휴사주문,일반회원,2020 헌법 조문정리,001001
99252,90377486,223030832,3234534,9000.0,1590589003063,제휴사주문,일반회원,가로세로 낱말퍼즐 2-2,001027

In [68]:
data["order_id"].nunique()

7288653

In [15]:
data.describe()

         product_id      order_id    account_id         price    created_at
count  1.560731e+07  1.560731e+07  1.560731e+07  1.560731e+07  1.560731e+07
mean   5.865601e+07  2.165808e+08  6.765560e+06  1.439144e+04  1.583110e+12
std    2.981843e+07  3.735133e+06  4.863105e+06  1.608977e+04  4.346898e+09
min    5.000000e+00  2.101832e+08  1.000010e+05  1.000000e+01  1.575126e+12
25%    3.352938e+07  2.133646e+08  2.790908e+06  9.720000e+03  1.579350e+12
50%    6.948610e+07  2.164976e+08  5.778048e+06  1.260000e+04  1.583336e+12
75%    8.478895e+07  2.196846e+08  1.038486e+07  1.530000e+04  1.586510e+12
max    9.043348e+07  2.233828e+08  1.696448e+07  1.033200e+07  1.591024e+12

In [43]:
data.isnull().sum()

product_id         0
order_id           0
account_id         0
price              0
created_at         0
order_type_nm      0
account_type_nm    0
product_name       0
category_id        0
dtype: int64

In [17]:
tmp_df = data.copy()

In [19]:
tmp_df.drop(["order_type_nm", "account_type_nm"], axis = 1, inplace = True)

In [45]:
tmp_df

,product_id,order_id,account_id,price,created_at,product_name,category_id
0,2423,221558207,7914693,8100.00000,1588731078973,소나기 : 황순원 단편집,001019
1,2423,221572169,658601,8100.00000,1588743019993,소나기 : 황순원 단편집,001019
2,2423,219790245,6967943,8100.00000,1586667926067,소나기 : 황순원 단편집,001019
3,2423,219798213,667368,8100.00000,1586676001750,소나기 : 황순원 단편집,001019
4,2423,219813033,1411396,8100.00000,1586690093990,소나기 : 황순원 단편집,001019
...,...,...,...,...,...,...,...
99248,90373276,223015009,2634477,15200.00000,1590573663237,2020 헌법 조문정리,001001
99249,90373276,223047511,14726964,15200.00000,1590627003253,2020 헌법 조문정리,001001
99250,90373276,223092031,811665,15200.00000,1590671388163,2020 헌법 조문정리,001001
99251,90373276,223160062,6192411,15200.00000,1590764545493,2020 헌법 조문정리,001001
99252,90377486,223030832,3234534,9000.00000,1590589003063,가로세로 낱말퍼즐 2-2,001027

In [38]:
data["product_id"].nunique()

343892

In [39]:
data["account_id"].nunique()

2305453

### Apriori Algorithm

In [23]:
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori

In [24]:
tmp_df["account_id"].nunique()

2305453

In [35]:
tmp_df["account_id"].groupby(tmp_df["account_id"]).count().describe()

count   2305453.00000
mean          6.76974
std          61.94106
min           1.00000
25%           1.00000
50%           3.00000
75%           7.00000
max       92334.00000
Name: account_id, dtype: float64

In [31]:
tmp_df[tmp_df["account_id"] == 92334]

Empty DataFrame
Columns: [product_id, order_id, account_id, price, created_at, product_name, category_id]
Index: []

In [34]:
pd.options.display.float_format = '{:.5f}'.format

In [46]:
tmp_df.head()

,product_id,order_id,account_id,price,created_at,product_name,category_id
0,2423,221558207,7914693,8100.00000,1588731078973,소나기 : 황순원 단편집,001019
1,2423,221572169,658601,8100.00000,1588743019993,소나기 : 황순원 단편집,001019
2,2423,219790245,6967943,8100.00000,1586667926067,소나기 : 황순원 단편집,001019
3,2423,219798213,667368,8100.00000,1586676001750,소나기 : 황순원 단편집,001019
4,2423,219813033,1411396,8100.00000,1586690093990,소나기 : 황순원 단편집,001019

### 사용자/ 구매 별 행렬 만들기

In [ ]:
# pd.get_dummies로 One-hot 인코딩
college_one_hot_encoded = pd.get_dummies(tmp_df.product_name) 

# 원래 데이터와 비교식으로 보여주기용 데이터프레임
college_with_onehot = pd.concat(
    [DataFrame(hundred_students.단과대), college_one_hot_encoded], axis=1) 
college_with_onehot.head(10)

In [5]:
import dask.dataframe as dd


for i in range(199):
    with open(path+'/capstone_orders/'+json_files['file_id'][i+1], encoding = 'utf-8') as f:
        tmp = pd.DataFrame(json.loads(line) for line in f)
    data = pd.concat([data, tmp])

df = dd.from_pandas(data, chunksize=1000000)
df.head()

,product_id,order_id,account_id,price,created_at,order_type_nm,account_type_nm,product_name,category_id
0,2423,221558207,7914693,8100.0,1588731078973,제휴사주문,일반회원,소나기 : 황순원 단편집,001019
0,2030,216560762,2271494,13500.0,1583400366383,제휴사주문,일반회원,성서이야기 1,001007001001
0,1764,217543687,3382688,10350.0,1584361818677,제휴사주문,일반회원,람세스 (5),001033
0,2137,221178992,8737699,17100.0,1588230982883,제휴사주문,일반회원,한국의 역사가와 역사학 (하),001015001001
0,1271,210415684,9763686,8550.0,1575437901867,제휴사주문,일반회원,중국신화전설 2,001033

In [12]:
df.compute_chunk_sizes()

AttributeError: 'DataFrame' object has no attribute 'compute_chunk_sizes'

In [14]:
ddf = dd.from_pandas(...)
ddf.to_dask_array()

TypeError: Input must be a pandas DataFrame or Series

In [59]:
from dask_ml.preprocessing import OneHotEncoder
import numpy as np

enc = OneHotEncoder(sparse=True)
enc = enc.fit(X)
result = enc.transform(X)
result.head()

ValueError: Expected 2D array, got scalar array instead:
array=SimpleImputer(missing_values=Dask Series Structure:
npartitions=16
0         int64
5000        ...
          ...
87572       ...
137807      ...
Name: product_id, dtype: int64
Dask Name: getitem, 32 tasks).
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.

In [43]:
from sklearn.impute import SimpleImputer as sim


imp = sim()
imp.fit_transform(X)
X.reshape(-1,1)

/home/yes24/anaconda3/lib/python3.7/site-packages/dask/array/core.py:1324: FutureWarning: The `numpy.may_share_memory` function is not implemented by Dask array. You may want to use the da.map_blocks function or something similar to silence this warning. Your code may stop working in a future release.
  FutureWarning,
/home/yes24/anaconda3/lib/python3.7/site-packages/dask/array/core.py:1324: FutureWarning: The `numpy.may_share_memory` function is not implemented by Dask array. You may want to use the da.map_blocks function or something similar to silence this warning. Your code may stop working in a future release.
  FutureWarning,

dask.array<reshape, shape=(15607311, 1), dtype=int64, chunksize=(100000, 1), chunktype=numpy.ndarray>

In [53]:
import dask
import dask.array as da
import dask.dataframe as dd
import numpy as np
import pandas as pd
import sklearn.impute

from sklearn.utils.validation import check_array


class SimpleImputer(sklearn.impute.SimpleImputer):
    _types = (pd.Series, pd.DataFrame, dd.Series, dd.DataFrame, da.Array)

    def _check_array(self, X):
        return check_array(
            X,
            accept_dask_dataframe=True,
            accept_unknown_chunks=True,
            preserve_pandas_dataframe=True,
            force_all_finite=False,
        )

    def fit(self, X, y=None):
        # Check parameters
        if not isinstance(X, self._types):
            return super(SimpleImputer, self).fit(X, y=y)

        if hasattr(self, "add_indicator"):
            # scikit-learn version has add_indicator
            if self.add_indicator:
                msg = "dask-ml does not currently implement add_indicator" ""
                raise NotImplementedError(msg)
            self.indicator_ = None

        allowed_strategies = ["mean", "median", "most_frequent", "constant"]
        if self.strategy not in allowed_strategies:
            raise ValueError(
                "Can only use these strategies: {0} "
                " got strategy={1}".format(allowed_strategies, self.strategy)
            )

        if not (pd.isna(self.missing_values) or self.strategy == "constant"):
            raise ValueError(
                "dask_ml.preprocessing.Imputer only supports non-NA values for "
                "'missing_values' when 'strategy=constant'."
            )

        X = self._check_array(X)

        if isinstance(X, da.Array):
            self._fit_array(X)
        else:
            self._fit_frame(X)
        self.n_features_in_ = X.shape[1]
        return self

    def _fit_array(self, X):
        if self.strategy not in {"mean", "constant"}:
            msg = "Can only use strategy='mean' or 'constant' with Dask Array."
            raise ValueError(msg)

        if self.strategy == "mean":
            statistics = da.nanmean(X, axis=0).compute()
        else:
            statistics = np.full(X.shape[1], self.fill_value, dtype=X.dtype)

        (self.statistics_,) = da.compute(statistics)

    def _fit_frame(self, X):
        if self.strategy == "mean":
            avg = X.mean(axis=0).values
        elif self.strategy == "median":
            avg = X.quantile().values
        elif self.strategy == "constant":
            avg = np.full(len(X.columns), self.fill_value)
        else:
            avg = [X[col].value_counts().nlargest(1).index for col in X.columns]
            avg = np.concatenate(*dask.compute(avg))

        self.statistics_ = pd.Series(dask.compute(avg)[0], index=X.columns)

    def transform(self, X):
        if isinstance(X, (pd.Series, pd.DataFrame, dd.Series, dd.DataFrame)):
            return X.fillna(self.statistics_)

        elif isinstance(X, da.Array):
            return da.where(da.isnull(X), self.statistics_, X)
        else:
            return super(SimpleImputer, self).transform(X)

In [60]:
X= SimpleImputer(df.product_id)
X.head()

/home/yes24/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:71: FutureWarning: Pass missing_values=Dask Series Structure:
npartitions=16
0         int64
5000        ...
          ...
87572       ...
137807      ...
Name: product_id, dtype: int64
Dask Name: getitem, 32 tasks as keyword args. From version 0.25 passing these as positional arguments will result in an error
  FutureWarning)

AttributeError: 'SimpleImputer' object has no attribute 'head'

In [28]:
from sklearn.preprocessing import MultiLabelBinarizer
mlb = MultiLabelBinarizer() 
df_tmp = pd.DataFrame(mlb.fit_transform(df['product_id']), columns=mlb.classes_, index=df.index)

TypeError: 'int' object is not iterable