In [1]:
import pandas as pd

In [2]:
user_dummy = pd.read_csv('./user_dummified_1df_0628.csv',encoding='utf-8')

In [3]:
user_dummy

,account_id,gender_0.0,gender_1.0,g_age_0.0,g_age_1.0,g_age_2.0,g_age_3.0,g_age_4.0,g_age_5.0,g_age_6.0,...,most_pref_23.0,most_pref_25.0,most_pref_27.0,most_pref_29.0,most_pref_33.0,most_pref_34.0,new_pref_0,new_pref_1,address_is_0,address_is_1
0,102600.0,1,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,1
1,103417.0,1,0,0,0,0,1,0,0,0,...,0,0,0,1,0,0,1,0,1,0
2,105247.0,0,1,0,0,0,0,0,1,0,...,0,0,0,0,1,0,1,0,0,1
3,109061.0,1,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,1
4,109217.0,1,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1221177,16829006.0,1,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
1221178,16830266.0,0,1,0,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,1
1221179,16832102.0,0,1,0,0,1,0,0,0,0,...,1,0,0,0,0,0,1,0,0,1
1221180,16834484.0,1,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,1
1221181,16836022.0,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0

In [4]:
book_dummy = pd.read_csv('./bookfeature_dummified_0628.csv',encoding='utf-8')

In [6]:
book_dummy.drop('Unnamed: 0',axis=1,inplace=True)

In [7]:
book_dummy

,product_id,cat1.0,cat2.0,cat3.0,cat4.0,cat5.0,cat7.0,cat8.0,cat9.0,cat10.0,...,cat34.0,pub0.0,pub1.0,pub2.0,pub3.0,pub4.0,pri0.0,pri1.0,pri2.0,pri3.0
0,51205670,0,0,0,0,0,0,1,0,0,...,0,0,0,0,1,0,1,0,0,0
1,51205708,0,0,1,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
2,51205718,0,0,1,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
3,51205892,0,0,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
4,51205904,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
270626,85352665,1,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
270627,85353942,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
270628,85354052,1,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
270629,85354327,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,1,0,0
270630,85354780,1,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1

In [9]:
book_cluster = pd.read_csv('./wonjinbabo_0628.csv',encoding='utf-8')

In [10]:
book_cluster

,gender_0.0,gender_1.0,g_age_0.0,g_age_1.0,g_age_2.0,g_age_3.0,g_age_4.0,g_age_5.0,g_age_6.0,most_pref_1.0,...,most_pref_23.0,most_pref_25.0,most_pref_27.0,most_pref_29.0,most_pref_33.0,most_pref_34.0,new_pref_0,new_pref_1,address_is_0,address_is_1
0,0.661902,0.338098,0.000306,0.035293,0.110084,0.422956,0.333293,0.091097,0.006971,0.023869,...,0.012361,0.000948,0.087799,0.050746,0.038909,0.008162,0.946249,0.053751,0.238821,0.761179
1,0.666066,0.333934,0.000524,0.018101,0.072675,0.437721,0.396425,0.069331,0.005222,0.008000,...,0.031302,0.001067,0.302710,0.184876,0.144076,0.024948,0.952622,0.047378,0.245837,0.754163
2,0.663206,0.336794,0.000269,0.023878,0.115647,0.401569,0.352146,0.099735,0.006756,0.013167,...,0.059815,0.005534,0.137815,0.115757,0.163104,0.045295,0.931994,0.068006,0.239442,0.760558
3,0.659485,0.340515,0.000261,0.034995,0.168051,0.362679,0.316895,0.109430,0.007689,0.095823,...,0.019008,0.001169,0.109871,0.061476,0.088777,0.028242,0.683456,0.316544,0.236425,0.763575
4,0.650526,0.349474,0.000105,0.027112,0.236291,0.288078,0.303252,0.137873,0.007290,0.068813,...,0.010828,0.000551,0.042095,0.025165,0.055639,0.011386,0.931210,0.068790,0.238437,0.761563

In [11]:
user_cluster = pd.read_csv('./U1b1_0628.csv',encoding='utf-8')

In [12]:
user_cluster

,cat1.0,cat2.0,cat3.0,cat4.0,cat5.0,cat7.0,cat8.0,cat9.0,cat10.0,cat11.0,...,cat34.0,pub0.0,pub1.0,pub2.0,pub3.0,pub4.0,pri0.0,pri1.0,pri2.0,pri3.0
0,0.048506,0.020672,0.089498,0.033391,0.068491,0.015661,0.039039,0.024476,0.020144,0.031620,...,0.041699,0.197575,0.128725,0.116057,0.232846,0.324797,0.166980,0.264633,0.370170,0.198218
1,0.144550,0.021136,0.065084,0.020680,0.014609,0.007866,0.084580,0.023274,0.129323,0.017539,...,0.062575,0.617460,0.176077,0.057287,0.074038,0.075138,0.239041,0.176779,0.370766,0.213414
2,0.050599,0.023026,0.102012,0.047309,0.057510,0.015255,0.031371,0.023552,0.018341,0.033559,...,0.041058,0.177270,0.133736,0.118961,0.240816,0.329217,0.158112,0.267365,0.366295,0.208228
3,0.032673,0.016744,0.110084,0.023330,0.052715,0.018801,0.028054,0.025598,0.011977,0.028216,...,0.035978,0.171419,0.119370,0.118088,0.243984,0.347139,0.156360,0.298019,0.366210,0.179412
4,0.044865,0.022294,0.087877,0.040601,0.066337,0.018201,0.029977,0.025137,0.018338,0.031994,...,0.039914,0.191098,0.129505,0.115651,0.236211,0.327535,0.160154,0.263816,0.371458,0.204573
5,0.034424,0.029152,0.089177,0.079726,0.060895,0.019802,0.020607,0.025084,0.007268,0.037480,...,0.034758,0.114580,0.118175,0.126007,0.266828,0.374410,0.141820,0.267997,0.352904,0.237279

In [14]:
deep_dummy_1 = pd.read_csv('./p1.csv',encoding='utf-8')

In [15]:
deep_dummy_1.drop('Unnamed: 0',axis=1,inplace=True)

In [16]:
deep_dummy_2 = pd.read_csv('./p2.csv',encoding='utf-8')

In [17]:
deep_dummy_2.drop('Unnamed: 0',axis=1,inplace=True)

In [18]:
deep_dummy_2

,account_id,product_id,day,label,cat1.0,cat2.0,cat3.0,cat4.0,cat5.0,cat7.0,...,cat34.0,pub0.0,pub1.0,pub2.0,pub3.0,pub4.0,pri0.0,pri1.0,pri2.0,pri3.0
0,5518062,23599602,2020-03-25,5.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
1,5518074,63592662,2020-03-18,2.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
2,5518074,89741011,2020-04-07,2.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,5518074,82956674,2020-04-07,2.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,5518074,87095907,2020-04-07,2.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11951967,16837205,65060443,2020-04-30,2.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
11951968,16837205,42763617,2020-04-30,2.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
11951969,16837207,84678826,2020-04-30,2.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
11951970,16837207,22791986,2020-04-30,2.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
11951971,16837207,84639236,2020-04-30,2.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [19]:
deep_dummy = pd.concat([deep_dummy_1,deep_dummy_2])

In [20]:
deep_dummy

,account_id,product_id,day,label,cat1.0,cat2.0,cat3.0,cat4.0,cat5.0,cat7.0,...,cat34.0,pub0.0,pub1.0,pub2.0,pub3.0,pub4.0,pri0.0,pri1.0,pri2.0,pri3.0
0,100001,88440267,2020-03-27,3.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,100001,88440267,2020-03-27,3.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,100001,85951536,2020-03-04,3.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,100001,85951536,2020-03-04,3.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,100001,86895523,2020-03-04,3.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11951967,16837205,65060443,2020-04-30,2.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
11951968,16837205,42763617,2020-04-30,2.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
11951969,16837207,84678826,2020-04-30,2.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
11951970,16837207,22791986,2020-04-30,2.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
11951971,16837207,84639236,2020-04-30,2.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0