In [1]:
import pandas as pd
import numpy as np

In [2]:
book=pd.read_csv('book_feature_clustering.csv')

user= pd.read_csv('user_features_clustered_0625.csv')
order = pd.read_csv('order_with_catID.csv')

In [3]:
click = pd.read_csv('clicks_refined_train_0625.csv')

In [4]:
orders= order.copy()
orders['created'] = None

In [5]:
idx = orders[orders.created_at.str.startswith(('2020-03'))].index
orders.loc[idx, 'created'] = 'train'
orders.created.isnull().sum()

5033036

In [6]:
idx = orders[orders.created_at.str.startswith(('2020-04'))].index
orders.loc[idx, 'created'] = 'train'
orders.created.isnull().sum()

2586254

In [7]:
idx = orders[orders.created_at.str.startswith(('2020-05'))].index
orders.loc[idx, 'created'] = 'test'
orders.created.isnull().sum()

609223

In [8]:
orders.dropna(axis=0, how='any', inplace= True)
orders.isnull().sum()

Unnamed: 0      0
Unnamed: 0.1    0
order_id        0
account_id      0
product_id      0
price           0
created_at      0
category_id     0
created         0
dtype: int64

In [29]:
order_train = orders[orders.created =='test']

In [30]:
order_df=order_train[['account_id','product_id']]
clicks=click[['account_id','product_id']]
user_label=user[['account_id','label']]
book_label=book[['product_id','cluster']]

In [31]:
order_df['purchase'] = 1

C:\Users\admin\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [32]:
feature = pd.merge(clicks,order_df, on = ['product_id', 'account_id'], how= 'left')
feature.shape

(25724903, 3)

In [33]:
feature.purchase.fillna(0, inplace= True)

In [34]:
features = pd.merge(feature,user_label, on = ['account_id'], how= 'left')
features.isnull().sum()

account_id          0
product_id          0
purchase            0
label         1682591
dtype: int64

In [35]:
features = pd.merge(features,book_label, on = ['product_id'], how= 'left')
features.isnull().sum()

account_id          0
product_id          0
purchase            0
label         1682591
cluster         20344
dtype: int64

In [36]:
features.dropna(axis=0, how='any', inplace= True)
features.isnull().sum()

account_id    0
product_id    0
purchase      0
label         0
cluster       0
dtype: int64

In [37]:
features['book_cluster'] =features['cluster']

In [38]:
features_dum = pd.get_dummies(features, columns = ['cluster'], prefix='book_' )
features_dum = pd.get_dummies(features_dum, columns = ['label'], prefix='user_')

In [39]:
features_dum.shape

(24024943, 15)

In [40]:
df= features_dum.copy()

In [41]:
df['B0U0'] = df.iloc[:,3].mul(df.iloc[:,8])
df['B0U1'] = df.iloc[:,3].mul(df.iloc[:,9])
df['B0U2'] = df.iloc[:,3].mul(df.iloc[:,10])
df['B0U3'] = df.iloc[:,3].mul(df.iloc[:,11])
df['B0U4'] = df.iloc[:,3].mul(df.iloc[:,12])
df['B0U5'] = df.iloc[:,3].mul(df.iloc[:,13])

In [42]:
df['B1U0'] = df.iloc[:,4].mul(df.iloc[:,8])
df['B1U1'] = df.iloc[:,4].mul(df.iloc[:,9])
df['B1U2'] = df.iloc[:,4].mul(df.iloc[:,10])
df['B1U3'] = df.iloc[:,4].mul(df.iloc[:,11])
df['B1U4'] = df.iloc[:,4].mul(df.iloc[:,12])
df['B1U5'] = df.iloc[:,4].mul(df.iloc[:,13])

In [43]:
df['B2U0'] = df.iloc[:,5].mul(df.iloc[:,8])
df['B2U1'] = df.iloc[:,5].mul(df.iloc[:,9])
df['B2U2'] = df.iloc[:,5].mul(df.iloc[:,10])
df['B2U3'] = df.iloc[:,5].mul(df.iloc[:,11])
df['B2U4'] = df.iloc[:,5].mul(df.iloc[:,12])
df['B2U5'] = df.iloc[:,5].mul(df.iloc[:,13])

In [44]:
df['B3U0'] = df.iloc[:,6].mul(df.iloc[:,8])
df['B3U1'] = df.iloc[:,6].mul(df.iloc[:,9])
df['B3U2'] = df.iloc[:,6].mul(df.iloc[:,10])
df['B3U3'] = df.iloc[:,6].mul(df.iloc[:,11])
df['B3U4'] = df.iloc[:,6].mul(df.iloc[:,12])
df['B3U5'] = df.iloc[:,6].mul(df.iloc[:,13])

In [45]:
df['B4U0'] = df.iloc[:,7].mul(df.iloc[:,8])
df['B4U1'] = df.iloc[:,7].mul(df.iloc[:,9])
df['B4U2'] = df.iloc[:,7].mul(df.iloc[:,10])
df['B4U3'] = df.iloc[:,7].mul(df.iloc[:,11])
df['B4U4'] = df.iloc[:,7].mul(df.iloc[:,12])
df['B4U5'] = df.iloc[:,7].mul(df.iloc[:,13])

In [60]:
df.head()

,account_id,product_id,purchase,book__0.0,book__1.0,book__2.0,book__3.0,book__4.0,user__0.0,user__1.0,...,B3U2,B3U3,B3U4,B3U5,B4U0,B4U1,B4U2,B4U3,B4U4,B4U5
0,100001,89431633,0.0,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,100001,89826582,1.0,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,0,0
2,100001,89826584,0.0,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,0,0
4,100001,67485427,0.0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
6,100001,89211872,0.0,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,0,0

In [46]:
df.columns

Index(['account_id', 'product_id', 'purchase', 'book_cluster', 'book__0.0',
       'book__1.0', 'book__2.0', 'book__3.0', 'book__4.0', 'user__0.0',
       'user__1.0', 'user__2.0', 'user__3.0', 'user__4.0', 'user__5.0', 'B0U0',
       'B0U1', 'B0U2', 'B0U3', 'B0U4', 'B0U5', 'B1U0', 'B1U1', 'B1U2', 'B1U3',
       'B1U4', 'B1U5', 'B2U0', 'B2U1', 'B2U2', 'B2U3', 'B2U4', 'B2U5', 'B3U0',
       'B3U1', 'B3U2', 'B3U3', 'B3U4', 'B3U5', 'B4U0', 'B4U1', 'B4U2', 'B4U3',
       'B4U4', 'B4U5'],
      dtype='object')

In [47]:
test=df[['product_id','book_cluster', 'purchase','B0U0', 'B0U1',
       'B0U2', 'B0U3', 'B0U4', 'B0U5', 'B1U0', 'B1U1', 'B1U2', 'B1U3', 'B1U4',
       'B1U5', 'B2U0', 'B2U1', 'B2U2', 'B2U3', 'B2U4', 'B2U5', 'B3U0', 'B3U1',
       'B3U2', 'B3U3', 'B3U4', 'B3U5', 'B4U0', 'B4U1', 'B4U2', 'B4U3', 'B4U4',
       'B4U5']]

In [48]:
test.to_csv('test_ks_2.csv',index=False)

In [64]:
test_df = test.copy()

In [65]:
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()

test_df['product_id'] = encoder.fit_transform(test_df['product_id'])

In [2]:
import pandas as pd
import numpy as np

In [4]:
train = pd.read_csv('train_ks_2.csv')
train.shape

(24024943, 33)

In [5]:
transs = train[['B0U0', 'B0U1',
       'B0U2', 'B0U3', 'B0U4', 'B0U5', 'B1U0', 'B1U1', 'B1U2', 'B1U3', 'B1U4',
       'B1U5', 'B2U0', 'B2U1', 'B2U2', 'B2U3', 'B2U4', 'B2U5', 'B3U0', 'B3U1',
       'B3U2', 'B3U3', 'B3U4', 'B3U5', 'B4U0', 'B4U1', 'B4U2', 'B4U3', 'B4U4',
       'B4U5']]

In [49]:
train.head()

,product_id,book_cluster,purchase,B0U0,B0U1,B0U2,B0U3,B0U4,B0U5,B1U0,...,B3U2,B3U3,B3U4,B3U5,B4U0,B4U1,B4U2,B4U3,B4U4,B4U5
0,88440267,3.0,1.0,0.0,0.0,0.0,0.0,3.0,0.0,0,...,0,0,0,0,0,0,0,0,1,0
1,88440267,3.0,1.0,0.0,0.0,0.0,0.0,3.0,0.0,0,...,0,0,0,0,0,0,0,0,1,0
2,85951536,3.0,1.0,0.0,0.0,0.0,0.0,3.0,0.0,0,...,0,0,0,0,0,0,0,0,1,0
3,85951536,3.0,1.0,0.0,0.0,0.0,0.0,3.0,0.0,0,...,0,0,0,0,0,0,0,0,1,0
4,86895523,3.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0,...,0,0,0,0,0,0,0,0,1,0

In [54]:
pip install yellowbrick

Collecting yellowbrick
  Downloading yellowbrick-1.1-py3-none-any.whl (263 kB)
Requirement already satisfied: scipy>=1.0.0 in c:\users\admin\anaconda3\lib\site-packages (from yellowbrick) (1.4.1)
Requirement already satisfied: matplotlib!=3.0.0,>=2.0.2 in c:\users\admin\anaconda3\lib\site-packages (from yellowbrick) (3.1.3)
Requirement already satisfied: cycler>=0.10.0 in c:\users\admin\anaconda3\lib\site-packages (from yellowbrick) (0.10.0)
Requirement already satisfied: numpy>=1.13.0 in c:\users\admin\anaconda3\lib\site-packages (from yellowbrick) (1.18.1)
Requirement already satisfied: scikit-learn>=0.20 in c:\users\admin\anaconda3\lib\site-packages (from yellowbrick) (0.22.1)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\admin\anaconda3\lib\site-packages (from matplotlib!=3.0.0,>=2.0.2->yellowbrick) (1.1.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in c:\users\admin\anaconda3\lib\site-packages (from matplotlib!=3.0.0,>=2.0.2->yellowbrick) (2.4.6)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\admin\anaconda3\lib\site-packages (from matplotlib!=3.0.0,>=2.0.2->yellowbrick) (2.8.1)
Requirement already satisfied: six in c:\users\admin\anaconda3\lib\site-packages (from cycler>=0.10.0->yellowbrick) (1.14.0)
Requirement already satisfied: joblib>=0.11 in c:\users\admin\anaconda3\lib\site-packages (from scikit-learn>=0.20->yellowbrick) (0.14.1)
Requirement already satisfied: setuptools in c:\users\admin\anaconda3\lib\site-packages (from kiwisolver>=1.0.1->matplotlib!=3.0.0,>=2.0.2->yellowbrick) (45.2.0.post20200210)
Installing collected packages: yellowbrick
Successfully installed yellowbrick-1.1
Note: you may need to restart the kernel to use updated packages.

In [55]:
pip install -U yellowbrick

Requirement already up-to-date: yellowbrick in c:\users\admin\anaconda3\lib\site-packages (1.1)
Requirement already satisfied, skipping upgrade: matplotlib!=3.0.0,>=2.0.2 in c:\users\admin\anaconda3\lib\site-packages (from yellowbrick) (3.1.3)
Requirement already satisfied, skipping upgrade: scipy>=1.0.0 in c:\users\admin\anaconda3\lib\site-packages (from yellowbrick) (1.4.1)
Requirement already satisfied, skipping upgrade: cycler>=0.10.0 in c:\users\admin\anaconda3\lib\site-packages (from yellowbrick) (0.10.0)
Requirement already satisfied, skipping upgrade: scikit-learn>=0.20 in c:\users\admin\anaconda3\lib\site-packages (from yellowbrick) (0.22.1)
Requirement already satisfied, skipping upgrade: numpy>=1.13.0 in c:\users\admin\anaconda3\lib\site-packages (from yellowbrick) (1.18.1)
Requirement already satisfied, skipping upgrade: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in c:\users\admin\anaconda3\lib\site-packages (from matplotlib!=3.0.0,>=2.0.2->yellowbrick) (2.4.6)
Requirement already satisfied, skipping upgrade: kiwisolver>=1.0.1 in c:\users\admin\anaconda3\lib\site-packages (from matplotlib!=3.0.0,>=2.0.2->yellowbrick) (1.1.0)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.1 in c:\users\admin\anaconda3\lib\site-packages (from matplotlib!=3.0.0,>=2.0.2->yellowbrick) (2.8.1)
Requirement already satisfied, skipping upgrade: six in c:\users\admin\anaconda3\lib\site-packages (from cycler>=0.10.0->yellowbrick) (1.14.0)
Requirement already satisfied, skipping upgrade: joblib>=0.11 in c:\users\admin\anaconda3\lib\site-packages (from scikit-learn>=0.20->yellowbrick) (0.14.1)
Requirement already satisfied, skipping upgrade: setuptools in c:\users\admin\anaconda3\lib\site-packages (from kiwisolver>=1.0.1->matplotlib!=3.0.0,>=2.0.2->yellowbrick) (45.2.0.post20200210)
Note: you may need to restart the kernel to use updated packages.

In [6]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

scaler = MinMaxScaler(feature_range=(0, 1))
scaler.fit_transform(transs)
transs1= scaler.fit_transform(transs)

In [1]:
from sklearn.cluster import KMeans

model_users = KMeans(n_clusters=5)
model_users.fit(transs1)
print(model_users.score(transs1))

NameError: name 'transs1' is not defined

In [ ]:
import seaborn as sns

from yellowbrick.cluster import KElbowVisualizer

model_users = KMeans()
visualizer = KElbowVisualizer(model_users, k=(1,20))
visualizer.fit(users_features)