In [2]:
import pandas as pd
import numpy as np

In [3]:
target = pd.read_csv("e-book_target.txt", sep = "\t", header = None, names = ['unknown','title','id_cat','cat','date','id'],
                   dtype={'unknown':str,'title':str,'id_cat':str,'cat':str,'date':str,'id':str})

In [4]:
target.head()

   unknown                   title        id_cat        cat      date   id
0  3765732               와인 읽는 CEO     004013002   성공학/경력관리  20100329   92
1  3765733                육일약국 갑시다     004002010  CEO/비즈니스맨  20100329   84
2  3772985  이탈리아 오래된 도시로 미술여행을 떠나다     004011001       예술기행  20100405  181
3  3772990             미국의 교양을 읽는다  004010003006        학습법  20100405  174
4  3772991           서양의 고전을 읽는다 1  004010003004      인문/사회  20100405  173

In [5]:
a = target[target["id"] != "892342"]

In [6]:
a = a["id_cat"]
a = pd.DataFrame(a)
a

              id_cat
0          004013002
1          004002010
2          004011001
3       004010003006
4       004010003004
...              ...
905960  004001001009
905961  004001002002
905962     004009012
905963  004010002002
905964  004004002001

[905964 rows x 1 columns]

In [7]:
a["대카테"] = a.apply(lambda row: row["id_cat"][0:3], axis = 1)

In [8]:
a["중카테"] = a.apply(lambda row: row["id_cat"][3:6], axis = 1)

In [9]:
a["소카테"] = a.apply(lambda row: row["id_cat"][6:9], axis = 1)

In [10]:
a["미카테"] = a.apply(lambda row: row["id_cat"][9:12], axis = 1)

In [11]:
a

              id_cat  대카테  중카테  소카테  미카테
0          004013002  004  013  002
1          004002010  004  002  010
2          004011001  004  011  001
3       004010003006  004  010  003  006
4       004010003004  004  010  003  004
...              ...  ...  ...  ...  ...
905960  004001001009  004  001  001  009
905961  004001002002  004  001  002  002
905962     004009012  004  009  012
905963  004010002002  004  010  002  002
905964  004004002001  004  004  002  001

[905964 rows x 5 columns]

In [12]:
target = target[target["id"] != "892342"]

In [13]:
total = pd.merge(target, a, left_index = True, right_index = True)

In [14]:
total.head(2)

,unknown,title,id_cat_x,cat,date,id,id_cat_y,대카테,중카테,소카테,미카테
0,3765732,와인 읽는 CEO,004013002,성공학/경력관리,20100329,92,004013002,004,013,002,
1,3765733,육일약국 갑시다,004002010,CEO/비즈니스맨,20100329,84,004002010,004,002,010,

In [15]:
total.columns = ["book_id", "title", "cat_id", "cat", "date","file_id", "ii", "lcat", "mcat", "scat", "dcat"]

In [16]:
total = total.drop(["ii"], axis = 1)

In [17]:
total.to_csv("total.csv")

In [18]:
total.head(4)

,book_id,title,cat_id,cat,date,file_id,lcat,mcat,scat,dcat
0,3765732,와인 읽는 CEO,004013002,성공학/경력관리,20100329,92,004,013,002,
1,3765733,육일약국 갑시다,004002010,CEO/비즈니스맨,20100329,84,004,002,010,
2,3772985,이탈리아 오래된 도시로 미술여행을 떠나다,004011001,예술기행,20100405,181,004,011,001,
3,3772990,미국의 교양을 읽는다,004010003006,학습법,20100405,174,004,010,003,006

In [37]:
def mname(m):
    if m == '001': return '인문/사회'
    elif m == '002': return '비즈니스와경제'
    elif m == '003': return '문학'
    elif m == '004': return '가정과생활'
    elif m == '005': return '장르문학'
    elif m == '006': return '잡지'
    elif m == '008': return '국어와외국어'
    elif m == '009': return '수험서/자격증'
    elif m == '010': return '어린이/청소년'
    elif m == '011': return '예술/대중문화'
    elif m == '012': return '대학교재'
    elif m == '013': return '자기관리'
    elif m == '014': return '자연과과학'
    elif m == '015': return '컴퓨터와인터넷'
    elif m == '017': return '만화'
    elif m == '019': return '개인출판물'
    elif m == '020': return '해외ebook'
    elif m == '021': return '크레마터치'
    elif m == '022': return '에디션 이북'
    elif m == '023': return 'ebook사은품'
    elif m == '026': return '로맨스'
    elif m == '027': return '판타지'
    elif m == '028': return '무협'
    elif m == '029': return 'BL'
    elif m == '030': return '라이트노벨'
    elif m == '031': return 'ebook 페이백'
    elif m == '033': return 'BL 페이백'

In [39]:
total['mcate_name'] = total.apply(lambda row: mname(row['mcat']), axis = 1)

In [40]:
total

,book_id,title,cat_id,cat,date,file_id,lcat,mcat,scat,dcat,lcat_name,mcate_name
0,3765732,와인 읽는 CEO,004013002,성공학/경력관리,20100329,92,004,013,002,,ebook,자기관리
1,3765733,육일약국 갑시다,004002010,CEO/비즈니스맨,20100329,84,004,002,010,,ebook,비즈니스와경제
2,3772985,이탈리아 오래된 도시로 미술여행을 떠나다,004011001,예술기행,20100405,181,004,011,001,,ebook,예술/대중문화
3,3772990,미국의 교양을 읽는다,004010003006,학습법,20100405,174,004,010,003,006,ebook,어린이/청소년
4,3772991,서양의 고전을 읽는다 1,004010003004,인문/사회,20100405,173,004,010,003,004,ebook,어린이/청소년
...,...,...,...,...,...,...,...,...,...,...,...,...
905960,90184251,정당이 살아야 민주주의가 산다,004001001009,정치/외교,20170421,1165855,004,001,001,009,ebook,인문/사회
905961,90184253,"한반도, 서양 고지도로 만나다",004001002002,세계사,20170421,1165856,004,001,002,002,ebook,인문/사회
905962,90184260,지리 교재 연구 및 교수법,004009012,기타 자격증,20170421,1165862,004,009,012,,ebook,수험서/자격증
905963,90184261,읽고 배우고 익히는 고사성어,004010002002,동요/동시,20170421,1165863,004,010,002,002,ebook,어린이/청소년
905964,90184262,하늘에서 읽는 대한민국,004004002001,여행/관광,20170421,1165864,004,004,002,001,ebook,가정과생활

In [41]:
total.to_csv("total.csv")

In [45]:
total[total['mcat']=='007']

,book_id,title,cat_id,cat,date,file_id,lcat,mcat,scat,dcat,lcat_name,mcate_name
104442,8937924,with coffee,004007001003,시,20130524,125158,004,007,001,003,ebook,None
107248,9115825,48분 기적의 독서법 (체험판),004007002,인문/역사,20130619,128725,004,007,002,,ebook,None
131742,9470735,어라? 영어책이 읽힌다. 대체 내게 무슨일이 일어난 거지!,004007010001,영어,20130827,75549,004,007,010,001,ebook,None
131751,9473210,토익헌터 전치사 끝판왕,004007010001,영어,20130827,163895,004,007,010,001,ebook,None
132214,9487250,겉절이와 묵은지,004007006001,로맨스,20130828,164503,004,007,006,001,ebook,None
132665,10852636,외국인도 놀라는 간절한 영어학습법,004007010001,영어,20130903,164981,004,007,010,001,ebook,None
154547,11874391,중학생이 알아야 할 Point up 영단어 (개정판),004007010001,영어,20140107,189694,004,007,010,001,ebook,None
154549,11874395,고등학생이 알아야 할 Point up 영단어 (2014년) (개정판),004007010001,영어,20140107,189696,004,007,010,001,ebook,None
160625,12269661,English Grammar for Preparatory 3,004007010001,영어,20140226,196450,004,007,010,001,ebook,None
160626,12269663,English Writing and Composition for Preparatory 3,004007010001,영어,20140226,196447,004,007,010,001,ebook,None
160628,12269667,English Reading for Preparatory 3,004007010001,영어,20140226,196449,004,007,010,001,ebook,None
160629,12269669,English Vocabulary for Preparatory 3,004007010001,영어,20140226,196448,004,007,010,001,ebook,None

In [49]:
total.shape

(905964, 12)

#### mcate 삭제

In [64]:
idx_nm_1 = total[total['mcat'] == '007'].index
total = total.drop(idx_nm_1)

In [75]:
total.shape

(905800, 12)

In [67]:
idx_nm_1 = total[total['mcat'] == '033'].index
total = total.drop(idx_nm_1)

In [69]:
idx_nm_1 = total[total['mcat'] == '031'].index
total = total.drop(idx_nm_1)

In [71]:
idx_nm_1 = total[total['mcat'] == '023'].index
total = total.drop(idx_nm_1)

In [72]:
idx_nm_1 = total[total['mcat'] == '022'].index
total = total.drop(idx_nm_1)

In [73]:
idx_nm_1 = total[total['mcat'] == '005'].index
total = total.drop(idx_nm_1)

In [74]:
idx_nm_1 = total[total['mcat'] == '021'].index
total = total.drop(idx_nm_1)

In [77]:
total.to_csv("total.csv")

In [81]:
# mcat 해외ebook 삭제

In [103]:
total[total['cat_id'] == '004020004'].head(30)

,book_id,title,cat_id,cat,date,file_id,lcat,mcat,scat,dcat,lcat_name,mcate_name
87120,8381527,Great Moments in Architecture,004020004,유아/어린이,19780419,105105,004,020,004,,ebook,해외ebook
87234,8392383,Just Grace,004020004,유아/어린이,20080318,105620,004,020,004,,ebook,해외ebook
87239,8393608,The Sign of the Beaver,004020004,유아/어린이,19830427,105235,004,020,004,,ebook,해외ebook
87241,8393610,Year of Impossible Goodbyes,004020004,유아/어린이,19910913,105237,004,020,004,,ebook,해외ebook
87242,8393611,Together Apart,004020004,유아/어린이,20130131,105238,004,020,004,,ebook,해외ebook
87243,8393612,The Squire's Tale,004020004,유아/어린이,20130131,105361,004,020,004,,ebook,해외ebook
87244,8393613,Hero-Type,004020004,유아/어린이,20130131,105610,004,020,004,,ebook,해외ebook
87245,8393614,Our Time on the River,004020004,유아/어린이,20130131,105611,004,020,004,,ebook,해외ebook
87247,8393616,Just Grace Walks the Dog,004020004,유아/어린이,20130131,105613,004,020,004,,ebook,해외ebook
87249,8393618,Foreign Exposure,004020004,유아/어린이,20070409,105615,004,020,004,,ebook,해외ebook
87251,8393620,Horns and Wrinkles,004020004,유아/어린이,20080218,105617,004,020,004,,ebook,해외ebook
87252,8393621,Egg-Drop Blues,004020004,유아/어린이,20130131,105618,004,020,004,,ebook,해외ebook
87253,8393622,Life Story,004020004,유아/어린이,20130131,105619,004,020,004,,ebook,해외ebook
87254,8393623,Boy Toy,004020004,유아/어린이,20130131,105621,004,020,004,,ebook,해외ebook
87255,8393624,"Tomorrow, The River",004020004,유아/어린이,20130131,105622,004,020,004,,ebook,해외ebook
87256,8393625,"Black Star, Bright Dawn",004020004,유아/어린이,20130131,105623,004,020,004,,ebook,해외ebook
87259,8393628,A Certain Slant of Light,004020004,유아/어린이,20130131,105626,004,020,004,,ebook,해외ebook
87261,8393630,Kipling's Choice,004020004,유아/어린이,20130131,105628,004,020,004,,ebook,해외ebook
87262,8393631,Gym Candy,004020004,유아/어린이,20130131,105629,004,020,004,,ebook,해외ebook
87263,8393632,Hope's Crossing,004020004,유아/어린이,20130131,105630,004,020,004,,ebook,해외ebook
87264,8393633,Black Pearls,004020004,유아/어린이,20130131,105631,004,020,004,,ebook,해외ebook
87266,8393635,The Book of Mordred,004020004,유아/어린이,20130131,105633,004,020,004,,ebook,해외ebook
87270,8393640,Dairy Queen,004020004,유아/어린이,20130131,105637,004,020,004,,ebook,해외ebook
87271,8393641,Mind Games,004020004,유아/어린이,20060522,105638,004,020,004,,ebook,해외ebook
87272,8393642,Goose Chase,004020004,유아/어린이,20130131,105639,004,020,004,,ebook,해외ebook
87274,8393644,The Savage Damsel and the Dwarf,004020004,유아/어린이,20130131,105641,004,020,004,,ebook,해외ebook
87275,8393645,Thin Wood Walls,004020004,유아/어린이,20130131,105642,004,020,004,,ebook,해외ebook
87276,8393646,The Off Season,004020004,유아/어린이,20080318,105643,004,020,004,,ebook,해외ebook
87277,8393647,Vibes,004020004,유아/어린이,20130131,105644,004,020,004,,ebook,해외ebook
87280,8393650,Parsifal's Page,004020004,유아/어린이,20130131,105647,004,020,004,,ebook,해외ebook

In [91]:
idx_nm_1 = total[total['cat_id'] == '004020011'].index
total = total.drop(idx_nm_1)

In [102]:
total.shape

(895113, 12)

In [98]:
idx_nm_1 = total[total['cat_id'] == '004020003'].index
total = total.drop(idx_nm_1)

In [94]:
idx_nm_1 = total[total['cat_id'] == '004020008'].index
total = total.drop(idx_nm_1)

In [101]:
idx_nm_1 = total[total['cat_id'] == '004020007'].index
total = total.drop(idx_nm_1)

In [100]:
total[total['file_id'] == '875678']

,book_id,title,cat_id,cat,date,file_id,lcat,mcat,scat,dcat,lcat_name,mcate_name
861612,60499224,Head First Web Design,004020007,컴퓨터,20081223,875678,004,020,007,,ebook,해외ebook

In [376]:
import numpy as wonjinwonjinwonjinwonjinwonjinwonjinwonjinwonjinwonjin

In [463]:
wonjinwonjinwonjinwonjinwonjinwonjinwonjinwonjinwonjin.random.uniform()

0.1096188730679154

In [110]:
total.head(3)

,book_id,title,cat_id,cat,date,file_id,lcat,mcat,scat,dcat,lcat_name,mcate_name
0,3765732,와인 읽는 CEO,004013002,성공학/경력관리,20100329,92,004,013,002,,ebook,자기관리
1,3765733,육일약국 갑시다,004002010,CEO/비즈니스맨,20100329,84,004,002,010,,ebook,비즈니스와경제
2,3772985,이탈리아 오래된 도시로 미술여행을 떠나다,004011001,예술기행,20100405,181,004,011,001,,ebook,예술/대중문화

In [113]:
total.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 895113 entries, 0 to 905964
Data columns (total 12 columns):
book_id       895113 non-null object
title         895113 non-null object
cat_id        895113 non-null object
cat           895113 non-null object
date          895112 non-null object
file_id       895113 non-null object
lcat          895113 non-null object
mcat          895113 non-null object
scat          895113 non-null object
dcat          895113 non-null object
lcat_name     895113 non-null object
mcate_name    870808 non-null object
dtypes: object(12)
memory usage: 88.8+ MB

In [106]:
fffff = pd.read_csv("file_id.csv")

In [112]:
fffff.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344635 entries, 0 to 344634
Data columns (total 1 columns):
file_id    344635 non-null int64
dtypes: int64(1)
memory usage: 2.6 MB

In [116]:
total.head()

,book_id,title,cat_id,cat,date,file_id,lcat,mcat,scat,dcat,lcat_name,mcate_name,file_id_num
0,3765732,와인 읽는 CEO,004013002,성공학/경력관리,20100329,92,004,013,002,,ebook,자기관리,92
1,3765733,육일약국 갑시다,004002010,CEO/비즈니스맨,20100329,84,004,002,010,,ebook,비즈니스와경제,84
2,3772985,이탈리아 오래된 도시로 미술여행을 떠나다,004011001,예술기행,20100405,181,004,011,001,,ebook,예술/대중문화,181
3,3772990,미국의 교양을 읽는다,004010003006,학습법,20100405,174,004,010,003,006,ebook,어린이/청소년,174
4,3772991,서양의 고전을 읽는다 1,004010003004,인문/사회,20100405,173,004,010,003,004,ebook,어린이/청소년,173

In [115]:
total["file_id_num"] = pd.to_numeric(total['file_id'])

In [119]:
total.drop(['file_id'], axis = 1, inplace = True)

In [123]:
total.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 895113 entries, 0 to 905964
Data columns (total 12 columns):
book_id        895113 non-null object
title          895113 non-null object
cat_id         895113 non-null object
cat            895113 non-null object
date           895112 non-null object
lcat           895113 non-null object
mcat           895113 non-null object
scat           895113 non-null object
dcat           895113 non-null object
lcat_name      895113 non-null object
mcate_name     870808 non-null object
file_id_num    895113 non-null int64
dtypes: int64(1), object(11)
memory usage: 128.8+ MB

In [125]:
total.rename(columns = {"file_id_num": "file_id"}, inplace = True)

In [126]:
total.head()

,book_id,title,cat_id,cat,date,lcat,mcat,scat,dcat,lcat_name,mcate_name,file_id
0,3765732,와인 읽는 CEO,004013002,성공학/경력관리,20100329,004,013,002,,ebook,자기관리,92
1,3765733,육일약국 갑시다,004002010,CEO/비즈니스맨,20100329,004,002,010,,ebook,비즈니스와경제,84
2,3772985,이탈리아 오래된 도시로 미술여행을 떠나다,004011001,예술기행,20100405,004,011,001,,ebook,예술/대중문화,181
3,3772990,미국의 교양을 읽는다,004010003006,학습법,20100405,004,010,003,006,ebook,어린이/청소년,174
4,3772991,서양의 고전을 읽는다 1,004010003004,인문/사회,20100405,004,010,003,004,ebook,어린이/청소년,173

In [130]:
fffff.shape

(344635, 1)

In [133]:
book = pd.merge(fffff, total, on = "file_id", how = "left")

In [135]:
book.to_csv("ebook.csv", index = False)

In [139]:
book.shape

(397595, 12)

In [137]:
fffff.shape

(344635, 1)

In [142]:
book.head(50)

,file_id,book_id,title,cat_id,cat,date,lcat,mcat,scat,dcat,lcat_name,mcate_name
0,867398,59418546,벤허,004003001002,외국소설,20160801,004,003,001,002,ebook,문학
1,867398,59615855,[대여] 벤허,004003001002,외국소설,20160801,004,003,001,002,ebook,문학
2,840689,57963060,마가리타,004026,로맨스,20171228,004,026,,,ebook,로맨스
3,840689,59017179,[대여] 마가리타,004026,로맨스,20171228,004,026,,,ebook,로맨스
4,994161,70871758,바다 이야기 2권 (완결),004026,로맨스,20160811,004,026,,,ebook,로맨스
5,876557,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,880640,60512644,천애협로 10,004028,무협,20170901,004,028,,,ebook,무협
7,875755,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,875693,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,876304,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,876343,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,880645,60512637,십자성-전왕의 검 04,004028,무협,20171101,004,028,,,ebook,무협
12,876862,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,876256,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,876703,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,840520,58038312,[BL] 스테이 골드(Stay gold),004029001,BL소설,20171215,004,029,001,,ebook,BL
16,876002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,877156,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,840431,57958497,[합본] [BL] 이 남자의 연애사정 (이 남자의 연애수난기 외전) (전2권/완결),004029001,BL소설,20170908,004,029,001,,ebook,BL
19,876501,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,840729,57965021,개미왕 7,004027,판타지,20170401,004,027,,,ebook,판타지
21,840729,71969161,[대여] 개미왕 7,004027,판타지,20170401,004,027,,,ebook,판타지
22,840812,57991211,"차가운 꽃, 서리 2 (완결)",004026,로맨스,20171201,004,026,,,ebook,로맨스
23,880644,60512638,십자성-전왕의 검 03,004028,무협,20171101,004,028,,,ebook,무협
24,994172,70871746,뉴바디 1권,004026,로맨스,20160721,004,026,,,ebook,로맨스
25,877165,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,840638,57963020,이상한 나라의 꽃 도령 4권 (완결),004026,로맨스,20171027,004,026,,,ebook,로맨스
27,1090118,4028547,십팔도객 3 (완결),004028,무협,20100718,004,028,,,ebook,무협
28,994066,70871877,밤이슬을 먹고 사는 그녀 1권,004026,로맨스,20170710,004,026,,,ebook,로맨스
29,994021,70871930,[BL] 구스타프 클림트 1권,004029001,BL소설,20171123,004,029,001,,ebook,BL
30,1106481,85032390,책쓰기로 인생역전하라,004013002,성공학/경력관리,20171211,004,013,002,,ebook,자기관리
31,994049,70871895,몸의 대화 연구소 2권,004026,로맨스,20170824,004,026,,,ebook,로맨스
32,877164,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,994098,70871832,신데렐라를 위하여 3권 (완결),004026,로맨스,20170330,004,026,,,ebook,로맨스
34,876534,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,994150,70871771,절정 2권 (완결),004026,로맨스,20160922,004,026,,,ebook,로맨스
36,876502,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,876606,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,876598,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,876179,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,876967,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,877186,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,840816,58192347,"당신, 그 사람 맞죠? 3 (완결)",004026,로맨스,20171101,004,026,,,ebook,로맨스
43,876931,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,876180,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,880639,60512647,천애협로 09,004028,무협,20170901,004,028,,,ebook,무협
46,840609,57962887,[BL] 정신병원 진료기록 2권 (완결),004029001,BL소설,20170816,004,029,001,,ebook,BL
47,993734,70859090,계절에서 기다릴게,004003004002,에세이,20160628,004,003,004,002,ebook,문학
48,875881,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,994107,70871823,Lil' Something 1권,004026,로맨스,20170310,004,026,,,ebook,로맨스

In [152]:
target

,unknown,title,id_cat,cat,date,id
0,3765732,와인 읽는 CEO,004013002,성공학/경력관리,20100329,92
1,3765733,육일약국 갑시다,004002010,CEO/비즈니스맨,20100329,84
2,3772985,이탈리아 오래된 도시로 미술여행을 떠나다,004011001,예술기행,20100405,181
3,3772990,미국의 교양을 읽는다,004010003006,학습법,20100405,174
4,3772991,서양의 고전을 읽는다 1,004010003004,인문/사회,20100405,173
...,...,...,...,...,...,...
905960,90184251,정당이 살아야 민주주의가 산다,004001001009,정치/외교,20170421,1165855
905961,90184253,"한반도, 서양 고지도로 만나다",004001002002,세계사,20170421,1165856
905962,90184260,지리 교재 연구 및 교수법,004009012,기타 자격증,20170421,1165862
905963,90184261,읽고 배우고 익히는 고사성어,004010002002,동요/동시,20170421,1165863
905964,90184262,하늘에서 읽는 대한민국,004004002001,여행/관광,20170421,1165864

In [166]:
null_list = list(book[book["book_id"].isnull()].file_id)
null_list

[876557,
 875755,
 875693,
 876304,
 876343,
 876862,
 876256,
 876703,
 876002,
 877156,
 876501,
 877165,
 877164,
 876534,
 876502,
 876606,
 876598,
 876179,
 876967,
 877186,
 876931,
 876180,
 875881,
 877250,
 876938,
 877255,
 876785,
 875993,
 876841,
 876885,
 876320,
 876265,
 876147,
 875972,
 876696,
 875605,
 875644,
 877079,
 876715,
 876006,
 876544,
 876328,
 876548,
 876868,
 876869,
 876710,
 875664,
 876240,
 876973,
 876890,
 876242,
 876293,
 876149,
 876323,
 876318,
 876266,
 876505,
 876525,
 877158,
 875794,
 876101,
 876309,
 876238,
 876196,
 877147,
 876955,
 876809,
 876091,
 877139,
 876509,
 877068,
 876292,
 876828,
 875728,
 876183,
 876203,
 876053,
 876169,
 875715,
 875969,
 876156,
 875786,
 875926,
 876230,
 876324,
 875852,
 876726,
 876059,
 876871,
 877233,
 875598,
 876987,
 876992,
 876984,
 875924,
 877163,
 877180,
 876445,
 876846,
 875804,
 877042,
 875847,
 876650,
 877027,
 876911,
 877325,
 876470,
 875643,
 875824,
 877368,
 875619,
 876607,
 876035,
 875738,
 876113,
 877194,
 876784,
 876342,
 875678,
 875631,
 876673,
 877070,
 877170,
 876301,
 876723,
 877213,
 877089,
 875949,
 875640,
 876295,
 876540,
 876195,
 875583,
 877215,
 876069,
 877228,
 876050,
 875792,
 875653,
 876452,
 876958,
 875796,
 875601,
 876939,
 875822,
 875754,
 875775,
 876901,
 876926,
 877087,
 876481,
 875991,
 876851,
 876153,
 877105,
 876480,
 876827,
 876132,
 875886,
 876341,
 876730,
 876467,
 875632,
 877231,
 876168,
 877212,
 875702,
 876840,
 875929,
 875897,
 877305,
 876457,
 876818,
 875705,
 876727,
 875857,
 876297,
 877232,
 875973,
 877350,
 877067,
 875854,
 876226,
 875937,
 876345,
 876596,
 877373,
 876708,
 876131,
 876255,
 876285,
 877251,
 876998,
 876706,
 877137,
 876805,
 876300,
 875596,
 875917,
 876148,
 876511,
 876798,
 876732,
 876506,
 877364,
 876547,
 875828,
 875663,
 875874,
 875790,
 877188,
 875836,
 875584,
 876214,
 876542,
 876229,
 875633,
 876044,
 875889,
 876906,
 875860,
 876611,
 876573,
 875936,
 877022,
 876808,
 877061,
 876959,
 876011,
 875709,
 877323,
 876777,
 875770,
 876028,
 875948,
 876524,
 876641,
 875562,
 876533,
 876856,
 876239,
 875868,
 876948,
 875861,
 876601,
 876469,
 877173,
 876589,
 876243,
 877115,
 876368,
 875990,
 875980,
 876944,
 876294,
 875808,
 877039,
 876999,
 876408,
 875737,
 875848,
 875679,
 877024,
 875573,
 877226,
 876879,
 876383,
 876402,
 876903,
 876644,
 876978,
 876232,
 875830,
 877189,
 876801,
 876981,
 876432,
 875820,
 876264,
 875569,
 875863,
 876952,
 875768,
 876434,
 876697,
 876420,
 876174,
 877174,
 876950,
 877328,
 875923,
 876014,
 876486,
 876813,
 876945,
 875628,
 875604,
 875603,
 875743,
 877020,
 877224,
 876616,
 876535,
 876387,
 876200,
 875656,
 876273,
 876960,
 876996,
 877182,
 876497,
 876484,
 875720,
 875858,
 875931,
 875981,
 877285,
 876921,
 875899,
 875588,
 875945,
 876234,
 875859,
 876907,
 876531,
 876588,
 875814,
 876439,
 877172,
 876359,
 876071,
 875827,
 875829,
 875974,
 876836,
 876949,
 875988,
 876089,
 876336,
 877283,
 877238,
 876933,
 876269,
 876857,
 876668,
 876437,
 876136,
 876401,
 876130,
 876098,
 876618,
 876819,
 875774,
 875711,
 876804,
 876772,
 876400,
 875611,
 876928,
 876392,
 876810,
 876201,
 876662,
 876010,
 875908,
 877217,
 875572,
 876423,
 877065,
 877045,
 877256,
 877160,
 876608,
 877119,
 877155,
 875736,
 876286,
 876143,
 876245,
 876224,
 875762,
 876689,
 876861,
 877100,
 876942,
 875947,
 876539,
 876860,
 875710,
 876850,
 877176,
 876729,
 876352,
 875850,
 875890,
 876764,
 876622,
 876940,
 876583,
 877331,
 876291,
 875782,
 876354,
 876537,
 876144,
 876096,
 876187,
 876284,
 876228,
 876487,
 876970,
 875621,
 876722,
 875565,
 876510,
 876012,
 876976,
 876177,
 875637,
 875853,
 876823,
 875985,
 876702,
 877203,
 876709,
 875580,
 875880,
 875788,
 877011,
 875783,
 876972,
 876877,
 876572,
 876350,
 877340,
 877057,
 877260,
 875657,
 876816,
 875607,
 875789,
 875992,
 876492,
 875617,
 876774,
 876863,
 875928,
 876186,
 876815,
 876592,
 875727,
 875939,
 876680,
 876283,
 876570,
 877195,
 877150,
 875589,
 876483,
 876980,
 876698,
 876485,
 876001,
 876657,
 875877,
 877152,
 875626,
 876975,
 877253,
 877064,
 877344,
 875563,
 876490,
 875807,
 877157,
 877259,
 877083,
 875675,
 876519,
 875670,
 877187,
 876605,
 876990,
 876106,
 877190,
 876443,
 875994,
 876163,
 876663,
 876453,
 876087,
 875719,
 877286,
 876910,
 877354,
 877052,
 876965,
 875699,
 875686,
 877138,
 876512,
 875979,
 875586,
 877112,
 876433,
 876182,
 875970,
 876834,
 876895,
 876610,
 876119,
 876728,
 876951,
 876382,
 875568,
 875841,
 877254,
 875688,
 877270,
 876854,
 876465,
 875739,
 876289,
 876282,
 876057,
 875690,
 877040,
 876290,
 875879,
 875695,
 875787,
 877116,
 876332,
 876750,
 876720,
 876643,
 876429,
 876989,
 876736,
 876210,
 877060,
 876899,
 875780,
 877106,
 876919,
 876482,
 876104,
 875763,
 875872,
 875724,
 877153,
 876477,
 876206,
 877301,
 877146,
 875888,
 876257,
 877366,
 876213,
 876325,
 876787,
 876158,
 877043,
 875753,
 875694,
 877006,
 875882,
 877085,
 875887,
 875692,
 876876,
 876932,
 876613,
 875855,
 876783,
 876063,
 875609,
 876660,
 876529,
 877004,
 875714,
 876751,
 875665,
 875733,
 875636,
 876575,
 876551,
 876719,
 877013,
 876189,
 875944,
 876792,
 875729,
 876135,
 877360,
 875707,
 876997,
 876008,
 875660,
 877050,
 876464,
 876786,
 876335,
 875983,
 876276,
 876166,
 876060,
 876675,
 875685,
 876184,
 875893,
 875673,
 875634,
 876347,
 876403,
 876150,
 876642,
 876620,
 876681,
 876966,
 877086,
 877202,
 877197,
 875676,
 875726,
 877339,
 876466,
 877375,
 875989,
 876321,
 877241,
 876261,
 876712,
 876934,
 877031,
 876425,
 876346,
 876124,
 877028,
 875761,
 876086,
 875834,
 875722,
 875564,
 876424,
 876199,
 876194,
 877114,
 876744,
 876355,
 875927,
 875749,
 877307,
 875878,
 876388,
 876164,
 877122,
 875622,
 877082,
 876129,
 875844,
 877117,
 876873,
 876463,
 877225,
 875734,
 876634,
 876771,
 876829,
 876897,
 877111,
 876924,
 877023,
 877249,
 875599,
 876632,
 877021,
 876162,
 875744,
 877252,
 875592,
 877143,
 876714,
 876414,
 876937,
 875661,
 876175,
 875689,
 875798,
 877303,
 876568,
 876859,
 876898,
 876280,
 876488,
 876274,
 876637,
 876520,
 876532,
 876188,
 877257,
 875856,
 876142,
 877293,
 876491,
 876518,
 876100,
 875933,
 876985,
 875833,
 875952,
 877367,
 875821,
 876716,
 876658,
 876579,
 877076,
 876514,
 875894,
 877357,
 876435,
 875839,
 876279,
 877184,
 876160,
 876319,
 875713,
 876476,
 876994,
 876117,
 876442,
 875801,
 875725,
 877149,
 876672,
 876842,
 877185,
 876556,
 876674,
 876308,
 876969,
 876307,
 876580,
 876780,
 877239,
 876886,
 875760,
 876695,
 876724,
 876418,
 876109,
 877140,
 875767,
 876704,
 876438,
 877177,
 876473,
 876866,
 878723,
 875837,
 876916,
 877098,
 875627,
 875624,
 875597,
 876600,
 875873,
 876775,
 875571,
 876769,
 876768,
 876088,
 877012,
 875625,
 876235,
 877145,
 877355,
 875978,
 876322,
 877235,
 875777,
 875875,
 877131,
 877075,
 876767,
 876270,
 875566,
 876161,
 875896,
 877072,
 877126,
 876554,
 876983,
 875582,
 876629,
 876221,
 875943,
 876017,
 876964,
 877221,
 876929,
 876496,
 877369,
 877134,
 876693,
 877110,
 877365,
 877025,
 877128,
 876671,
 877312,
 875766,
 876791,
 877206,
 877167,
 876748,
 877014,
 875998,
 876889,
 877214,
 877041,
 877059,
 875920,
 876036,
 877120,
 876888,
 875642,
 877258,
 875771,
 877370,
 875842,
 876685,
 876853,
 877247,
 876191,
 877220,
 875615,
 876988,
 876625,
 876738,
 875674,
 875831,
 876209,
 876615,
 876504,
 877201,
 876348,
 876677,
 877118,
 875581,
 876296,
 876659,
 876026,
 877073,
 876333,
 876925,
 876586,
 877034,
 876614,
 876176,
 875791,
 875776,
 876227,
 876977,
 877058,
 876530,
 877109,
 876159,
 876594,
 876855,
 876788,
 876733,
 875712,
 876892,
 876711,
 876670,
 877003,
 876409,
 877277,
 877142,
 876042,
 876112,
 876758,
 876707,
 876683,
 876099,
 876458,
 876134,
 877330,
 876617,
 876327,
 877191,
 876776,
 876421,
 875735,
 876648,
 876334,
 877053,
 876428,
 875818,
 876107,
 877342,
 875849,
 877234,
 876864,
 875570,
 876623,
 876872,
 877371,
 875938,
 876526,
 876217,
 877136,
 877037,
 876233,
 876849,
 876909,
 876123,
 875918,
 877361,
 876603,
 876914,
 877096,
 877018,
 876692,
 876654,
 876963,
 876288,
 876004,
 875745,
 877049,
 877005,
 876192,
 875668,
 876962,
 877211,
 876734,
 876523,
 876431,
 876390,
 876718,
 876219,
 876281,
 876979,
 876717,
 876072,
 875987,
 876571,
 875667,
 877141,
 876561,
 876585,
 876747,
 876326,
 877124,
 876587,
 876848,
 876825,
 877183,
 876507,
 877054,
 875840,
 877030,
 877207,
 877048,
 876806,
 875718,
 876389,
 876271,
 877327,
 876120,
 875578,
 877199,
 875746,
 877055,
 877066,
 876649,
 876694,
 877095,
 876231,
 876865,
 875576,
 876404,
 876595,
 876122,
 876821,
 877320,
 876353,
 875756,
 876472,
 876602,
 877243,
 875691,
 876413,
 876362,
 877093,
 876773,
 876090,
 877264,
 876760,
 ...]

In [164]:
book

,file_id,book_id,title,cat_id,cat,date,lcat,mcat,scat,dcat,lcat_name,mcate_name
0,867398,59418546,벤허,004003001002,외국소설,20160801,004,003,001,002,ebook,문학
1,867398,59615855,[대여] 벤허,004003001002,외국소설,20160801,004,003,001,002,ebook,문학
2,840689,57963060,마가리타,004026,로맨스,20171228,004,026,,,ebook,로맨스
3,840689,59017179,[대여] 마가리타,004026,로맨스,20171228,004,026,,,ebook,로맨스
4,994161,70871758,바다 이야기 2권 (완결),004026,로맨스,20160811,004,026,,,ebook,로맨스
...,...,...,...,...,...,...,...,...,...,...,...,...
397590,968066,67519069,나의 아름다운 죽음을 위하여,004003004002,에세이,20130425,004,003,004,002,ebook,문학
397591,841668,58011855,INNOVA 7권,004027,판타지,20171211,004,027,,,ebook,판타지
397592,841666,58011853,INNOVA 5권,004027,판타지,20171211,004,027,,,ebook,판타지
397593,841677,58012073,가벼움의 시대,004001001001,인문학산책,20171220,004,001,001,001,ebook,인문/사회
397594,841677,58012074,[대여] 가벼움의 시대,004001001001,인문학산책,20171220,004,001,001,001,ebook,인문/사회

In [169]:
book = book[book["book_id"].notnull()]

In [182]:
book.tail(50)

,file_id,book_id,title,cat_id,cat,date,lcat,mcat,scat,dcat,lcat_name,mcate_name
397545,944877,69318841,[대여] 에피소드 한국사 근현대편,004001002001,한국사,20130129,004,001,002,001,ebook,인문/사회
397546,1006499,71927420,영화의 심장소리,004011008,대중문화,20170523,004,011,008,,ebook,예술/대중문화
397547,1020332,4024850,창문을 닫아도 마음을 닫아도 생각나는 사람,004003004002,에세이,20100715,004,003,004,002,ebook,문학
397548,1005052,71855108,공산주의 포스터 1 intoduction,004011004,미술,20150401,004,011,004,,ebook,예술/대중문화
397549,841424,58007149,[BL] 완벽한 공략법 3 (완결),004029001,BL소설,20171012,004,029,001,,ebook,BL
397550,288646,17840538,스캔들,004026,로맨스,20150507,004,026,,,ebook,로맨스
397551,1123764,87019885,경제전쟁,004002001,경제,20161125,004,002,001,,ebook,비즈니스와경제
397552,1015148,72273290,위쳐 : 이성의 목소리,004027,판타지,20131220,004,027,,,ebook,판타지
397553,1015148,85475785,[대여] 위쳐 : 이성의 목소리,004027,판타지,20131220,004,027,,,ebook,판타지
397554,841425,58007148,[합본] [BL] 완벽한 공략법 (전3권/완결),004029001,BL소설,20171012,004,029,001,,ebook,BL
397555,841660,58011091,집에 가고 싶어,004026,로맨스,20171102,004,026,,,ebook,로맨스
397556,859583,59159232,크리스찬 유머,004001002006,기독교,20171215,004,001,002,006,ebook,인문/사회
397557,955532,66889653,도깨비 학교,004010002001,그림책/동화책,20151225,004,010,002,001,ebook,어린이/청소년
397558,1026658,74216281,당신이 잃어버린 것,004011009,연극/공연,20160926,004,011,009,,ebook,예술/대중문화
397559,68537,7117099,Jakob von Gunten / Ein Tagebuch,004020001,구텐베르크 프로젝트,20120522,004,020,001,,ebook,해외ebook
397560,857878,59097158,내 남자 사육기 2/2 (무삭제판),004026,로맨스,20121221,004,026,,,ebook,로맨스
397561,685373,44224174,Beaker’s Dozen,004020,해외eBook,19990801,004,020,,,ebook,해외ebook
397562,1123774,87019858,발길 머무는 곳 생각 멈추는 곳엔 늘 네가 있더라,004003003001,시,20161125,004,003,003,001,ebook,문학
397563,841640,58011830,여왕의 섹슈얼 에피소드 3권,004026,로맨스,20171027,004,026,,,ebook,로맨스
397564,944656,65299837,"40, 41 11",004027,판타지,20160831,004,027,,,ebook,판타지
397565,944656,87476030,"[대여] 40, 41 11",004027,판타지,20160831,004,027,,,ebook,판타지
397566,996086,70936682,사랑이 기억하는 그대 (무삭제 연재본),004026,로맨스,20150605,004,026,,,ebook,로맨스
397567,858994,59098828,내 여자친구와 소꿉친구가 완전 수라장 11,004030,라이트노벨,20171101,004,030,,,ebook,라이트노벨
397568,968010,67518671,정(情) (한국시나리오걸작선 87),004011009,연극/공연,20150930,004,011,009,,ebook,예술/대중문화
397569,841426,58007152,첫눈애,004026,로맨스,20171129,004,026,,,ebook,로맨스
397570,685372,44224173,Probability Sun,004020,해외eBook,20030217,004,020,,,ebook,해외ebook
397571,968060,67519062,어메이징 세계사,004001002002,세계사,20140801,004,001,002,002,ebook,인문/사회
397572,841661,58011850,INNOVA 2권,004027,판타지,20171211,004,027,,,ebook,판타지
397573,841493,58007893,공전마도사 후보생의 교관 1,004030,라이트노벨,20171204,004,030,,,ebook,라이트노벨
397574,431111,24973351,재미있게 읽는 그날의 역사 7월 6일,004001002002,세계사,20160318,004,001,002,002,ebook,인문/사회
397575,859584,59159228,삶의 이유,004001002006,기독교,20171222,004,001,002,006,ebook,인문/사회
397576,845297,58180978,世喜(세희): 세상을 기쁘게 하다,004027,판타지,20170123,004,027,,,ebook,판타지
397577,944876,65304236,춘향이가 읽은 연애소설,004001001001,인문학산책,20130416,004,001,001,001,ebook,인문/사회
397578,944876,67105422,[대여] 춘향이가 읽은 연애소설,004001001001,인문학산책,20130416,004,001,001,001,ebook,인문/사회
397579,1123781,87019841,적자생존,004013005,여성을 위한 자기계발,20150826,004,013,005,,ebook,자기관리
397580,685371,44224172,Probability Space,004020,해외eBook,20040105,004,020,,,ebook,해외ebook
397581,1006491,71927412,관점의 인문학,004013001,처세술/삶의자세,20170911,004,013,001,,ebook,자기관리
397582,841642,58011832,울리고 싶은 여자 1권,004026,로맨스,20171027,004,026,,,ebook,로맨스
397583,858190,59328324,"Media, Markets, and Morals",004019,개인출판물,20110223,004,019,,,ebook,개인출판물
397584,841494,58007892,공전마도사 후보생의 교관 2,004030,라이트노벨,20171204,004,030,,,ebook,라이트노벨
397585,996083,70936679,복수애 (외전),004026,로맨스,20130731,004,026,,,ebook,로맨스
397586,944652,65299833,"40, 41 7",004027,판타지,20160831,004,027,,,ebook,판타지
397587,944652,87476019,"[대여] 40, 41 7",004027,판타지,20160831,004,027,,,ebook,판타지
397588,944647,65299828,"40, 41 2",004027,판타지,20160831,004,027,,,ebook,판타지
397589,944647,87476008,"[대여] 40, 41 2",004027,판타지,20160831,004,027,,,ebook,판타지
397590,968066,67519069,나의 아름다운 죽음을 위하여,004003004002,에세이,20130425,004,003,004,002,ebook,문학
397591,841668,58011855,INNOVA 7권,004027,판타지,20171211,004,027,,,ebook,판타지
397592,841666,58011853,INNOVA 5권,004027,판타지,20171211,004,027,,,ebook,판타지
397593,841677,58012073,가벼움의 시대,004001001001,인문학산책,20171220,004,001,001,001,ebook,인문/사회
397594,841677,58012074,[대여] 가벼움의 시대,004001001001,인문학산책,20171220,004,001,001,001,ebook,인문/사회

In [183]:
book_title = book["title"]

In [185]:
pd.DataFrame(book_title).to_csv("book_title.csv", index = False)

In [186]:
book_title2 = pd.read_csv("book_title.csv")

In [187]:
book_title2

                  title
0                    벤허
1               [대여] 벤허
2                  마가리타
3             [대여] 마가리타
4        바다 이야기 2권 (완결)
...                 ...
395143  나의 아름다운 죽음을 위하여
395144        INNOVA 7권
395145        INNOVA 5권
395146          가벼움의 시대
395147     [대여] 가벼움의 시대

[395148 rows x 1 columns]

In [189]:
book = book.drop(["book_id"], axis = 1)

In [191]:
book.drop_duplicates()

,file_id,book_id,cat_id,cat,date,lcat,mcat,scat,dcat,lcat_name,mcate_name
0,867398,59418546,004003001002,외국소설,20160801,004,003,001,002,ebook,문학
1,867398,59615855,004003001002,외국소설,20160801,004,003,001,002,ebook,문학
2,840689,57963060,004026,로맨스,20171228,004,026,,,ebook,로맨스
3,840689,59017179,004026,로맨스,20171228,004,026,,,ebook,로맨스
4,994161,70871758,004026,로맨스,20160811,004,026,,,ebook,로맨스
...,...,...,...,...,...,...,...,...,...,...,...
397590,968066,67519069,004003004002,에세이,20130425,004,003,004,002,ebook,문학
397591,841668,58011855,004027,판타지,20171211,004,027,,,ebook,판타지
397592,841666,58011853,004027,판타지,20171211,004,027,,,ebook,판타지
397593,841677,58012073,004001001001,인문학산책,20171220,004,001,001,001,ebook,인문/사회
397594,841677,58012074,004001001001,인문학산책,20171220,004,001,001,001,ebook,인문/사회

In [197]:
book1 = pd.merge(book_title, book, left_index = True, right_index = True)

In [198]:
book_title1 = book1[["book_id", "title"]]

In [200]:
book_title1.to_csv("book_title", index = False)

In [203]:
book2 = book1.drop(["title", "book_id"], axis = 1)

In [204]:
book2.head(10)

,file_id,cat_id,cat,date,lcat,mcat,scat,dcat,lcat_name,mcate_name
0,867398,004003001002,외국소설,20160801,004,003,001,002,ebook,문학
1,867398,004003001002,외국소설,20160801,004,003,001,002,ebook,문학
2,840689,004026,로맨스,20171228,004,026,,,ebook,로맨스
3,840689,004026,로맨스,20171228,004,026,,,ebook,로맨스
4,994161,004026,로맨스,20160811,004,026,,,ebook,로맨스
6,880640,004028,무협,20170901,004,028,,,ebook,무협
11,880645,004028,무협,20171101,004,028,,,ebook,무협
15,840520,004029001,BL소설,20171215,004,029,001,,ebook,BL
18,840431,004029001,BL소설,20170908,004,029,001,,ebook,BL
20,840729,004027,판타지,20170401,004,027,,,ebook,판타지

In [205]:
book2.duplicated()

0         False
1          True
2         False
3          True
4         False
          ...
397590    False
397591    False
397592    False
397593    False
397594     True
Length: 395148, dtype: bool

In [1]:
book2 = book2.drop_duplicates()

NameError: name 'book2' is not defined

In [209]:
book2.to_csv("book.csv", index = False)