In [1]:
import os
os.getcwd()

'/home/yes24/capstone/추천알고리즘/preprocessed'

In [2]:
os.chdir('/home/yes24/models/research/deep_contextual_bandits')

In [3]:
from __future__ import absolute_import
from __future__ import division
from __future__ import print_function

import numpy as np
import pandas as pd
import tensorflow as tf
import time
from absl import app
from absl import flags

In [4]:
from bandits.core.contextual_bandit import run_contextual_bandit
from bandits.algorithms.linear_full_posterior_sampling import LinearFullPosteriorSampling

In [5]:
from bandits.data.data_sampler import sample_census_data
from bandits.data.data_sampler import one_hot,safe_std,remove_underrepresented_classes,classification_to_bandit_problem

In [6]:
def display_results(algos, opt_rewards, opt_actions, h_rewards, t_init, name):
    """Displays summary statistics of the performance of each algorithm."""

    print('---------------------------------------------------')
    print('---------------------------------------------------')
    print('{} bandit completed after {} seconds.'.format(
        name, time.time() - t_init))
    print('---------------------------------------------------')

    performance_pairs = []
    for j, a in enumerate(algos):
        performance_pairs.append((a.name, np.sum(h_rewards[:, j])))
    performance_pairs = sorted(performance_pairs,
                             key=lambda elt: elt[1],
                             reverse=True)
    for i, (name, reward) in enumerate(performance_pairs):
        print('{:3}) {:20}| \t \t total reward = {:10}.'.format(i, name, reward))

    print('---------------------------------------------------')
    print('Optimal total reward = {}.'.format(np.sum(opt_rewards)))
    print('Frequency of optimal actions (action, frequency):')
    print([[elt, list(opt_actions).count(elt)] for elt in set(opt_actions)])
    print('---------------------------------------------------')
    print('---------------------------------------------------')

In [7]:
num_actions = 5

In [8]:
df_100_fin = pd.read_csv('df100_test_0701.csv')

In [9]:
df_100_fin['purchase'].sum()

706.0

In [10]:
df_context = df_100_fin.iloc[:,6:]
labels = df_100_fin.iloc[:,4].astype('int8').values

In [11]:
df_context

,gender_0.0,gender_1.0,g_age_0.0,g_age_1.0,g_age_2.0,g_age_3.0,g_age_4.0,g_age_5.0,g_age_6.0,most_pref_1.0,...,cat34.0,pub0.0,pub1.0,pub2.0,pub3.0,pub4.0,pri0.0,pri1.0,pri2.0,pri3.0
0,1,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,1,0,0,1,0
1,1,0,0,0,0,0,1,0,0,0,...,1,0,1,0,0,0,0,0,1,0
2,1,0,0,0,0,0,1,0,0,0,...,1,0,0,1,0,0,0,0,1,0
3,1,0,0,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,1,0,0
4,1,0,0,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4128,0,1,0,0,0,0,0,1,0,0,...,0,1,0,0,0,0,0,0,1,0
4129,0,1,0,0,0,0,0,1,0,0,...,0,1,0,0,0,0,0,0,1,0
4130,0,1,0,0,0,0,0,1,0,0,...,0,1,0,0,0,0,0,0,1,0
4131,0,1,0,0,0,0,0,1,0,0,...,0,1,0,0,0,0,0,0,1,0
4132,0,1,0,0,0,0,0,1,0,0,...,1,1,0,0,0,0,0,0,1,0

In [12]:
df_context, labels = remove_underrepresented_classes(df_context, labels)
contexts = df_context.values

Unique classes and their ratio of total: {0: 0.0931526736027099, 1: 0.18872489716912655, 2: 0.17735301233970482, 3: 0.432615533510767, 4: 0.10815388337769175}

In [13]:
sampled_vals = classification_to_bandit_problem(contexts, labels, num_actions)

In [14]:
contexts, rewards, (opt_rewards, opt_actions) = sampled_vals

In [15]:
rewards_list = df_100_fin['purchase'].values.tolist()

In [16]:
rewards2 = rewards.copy()

In [17]:
for i in range(len(rewards_list)):
    if rewards_list[i] == 0:
        rewards2[i] = np.where(rewards2[i]==1,0,rewards2[i])

In [18]:
dataset = np.hstack((contexts, rewards))
context_dim = contexts.shape[1]

In [19]:
dataset2 = np.hstack((contexts, rewards2))
context_dim = contexts.shape[1]

In [20]:
mu = np.load('/home/yes24/capstone/소라공유폴더/mean_0701.npy')
cov = np.load('/home/yes24/capstone/소라공유폴더/cov_0701.npy')

In [21]:
hparams = tf.contrib.training.HParams(num_actions=num_actions)
hparams_linear = tf.contrib.training.HParams(num_actions=num_actions,
                                               context_dim=context_dim,
                                               a0=6,
                                               b0=6,
                                               lambda_prior=0.25,
                                               initial_pulls=0,
                                            mu=mu,
                                            cov=cov)

WARNING:tensorflow:
The TensorFlow contrib module will not be included in TensorFlow 2.0.
For more information, please see:
  * https://github.com/tensorflow/community/blob/master/rfcs/20180907-contrib-sunset.md
  * https://github.com/tensorflow/addons
  * https://github.com/tensorflow/io (for I/O related ops)
If you depend on functionality not listed there, please file an issue.

In [22]:
algos = [LinearFullPosteriorSampling('LinFullPost', hparams_linear)]

In [23]:
t_init2 = time.time()
results2 = run_contextual_bandit(context_dim, num_actions, dataset2, algos)

In [24]:
_2, h_rewards2,h_vals2 = results2

In [25]:
len(h_vals2)

4133

In [26]:
h_vals2[0][0]

[-10.897289707237338,
 10.568306609291731,
 11.46056392596493,
 7.934488286205957,
 -11.453784921234451]

In [27]:
new_vals = [val[0] for val in h_vals2]

In [28]:
len(new_vals)

4133

In [29]:
val_df = pd.DataFrame()
for i in range(len(new_vals)):
    val_df = pd.concat([val_df,pd.DataFrame(new_vals[i]).T],axis=0)

In [30]:
val_df['val_max'] = val_df[[0,1,2,3,4]].max(axis=1)

In [34]:
val_df_fin = val_df.reset_index().drop(columns='index')

In [112]:
val_df_fin

              0          1          2          3          4    val_max
0    -10.897290  10.568307  11.460564   7.934488 -11.453785  11.460564
1    -11.177284   0.664533 -15.243008  -8.213388  13.394946  13.394946
2      5.186291   4.254928 -19.627558  -3.934000  19.680115  19.680115
3      6.991094   2.944533   4.056551 -10.957553  -5.455815   6.991094
4      0.123438  -1.449245 -19.631774  -3.954024  26.710585  26.710585
...         ...        ...        ...        ...        ...        ...
4128  -0.037540   0.157973  -0.076464   0.051950   0.045581   0.157973
4129  -0.044042   0.140663  -0.161040  -0.193279   0.063017   0.140663
4130  -0.040722   0.114679  -0.081783   0.113127   0.037018   0.114679
4131   0.093741  -0.084701  -0.074464  -0.221203   0.182171   0.182171
4132  -0.033436  -0.026760  -0.000507   0.105007  -0.006311   0.105007

[4133 rows x 6 columns]

In [114]:
val_df_fin.idxmax(axis=1).rename('idx')

0       2
1       4
2       4
3       0
4       4
       ..
4128    1
4129    1
4130    1
4131    4
4132    3
Name: idx, Length: 4133, dtype: int64

In [116]:
val_df_fin = pd.concat([val_df_fin, val_df_fin.idxmax(axis=1).rename('val_max_idx')],axis=1)

In [51]:
df_100_fin

,account_id,product_id,price,purchase,book_cluster,user_cluster,gender_0.0,gender_1.0,g_age_0.0,g_age_1.0,...,cat34.0,pub0.0,pub1.0,pub2.0,pub3.0,pub4.0,pri0.0,pri1.0,pri2.0,pri3.0
0,113512,89940862,0.0,0.0,4.0,3.0,1,0,0,0,...,0,0,0,0,0,1,0,0,1,0
1,113512,84434768,0.0,0.0,2.0,3.0,1,0,0,0,...,1,0,1,0,0,0,0,0,1,0
2,113512,74393338,0.0,0.0,2.0,3.0,1,0,0,0,...,1,0,0,1,0,0,0,0,1,0
3,113512,90108425,0.0,0.0,3.0,3.0,1,0,0,0,...,0,1,0,0,0,0,0,1,0,0
4,113512,85927898,0.0,0.0,3.0,3.0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4128,16790454,90061659,0.0,0.0,3.0,1.0,0,1,0,0,...,0,1,0,0,0,0,0,0,1,0
4129,16790454,89222585,14400.0,1.0,3.0,1.0,0,1,0,0,...,0,1,0,0,0,0,0,0,1,0
4130,16790454,89903437,0.0,0.0,3.0,1.0,0,1,0,0,...,0,1,0,0,0,0,0,0,1,0
4131,16790454,90114596,0.0,0.0,3.0,1.0,0,1,0,0,...,0,1,0,0,0,0,0,0,1,0
4132,16790454,90039222,0.0,0.0,3.0,1.0,0,1,0,0,...,1,1,0,0,0,0,0,0,1,0

In [117]:
df_fin_fin = pd.concat([df_100_fin[['account_id','product_id','book_cluster']],val_df_fin],axis=1)

In [126]:
df_fin_fin.iloc[17,:]

account_id      1.159410e+05
product_id      4.433179e+07
book_cluster    0.000000e+00
0               9.966392e+00
1              -3.396033e-01
2              -5.059838e+00
3               1.418003e+00
4               5.138695e+00
val_max         9.966392e+00
val_max_idx     0.000000e+00
Name: 17, dtype: float64

In [135]:
df_fin_fin_fin = pd.DataFrame()
for i in range(len(df_fin_fin)):
    if df_fin_fin['book_cluster'][i] == df_fin_fin['val_max_idx'][i]:
        df_fin_fin_fin = pd.concat([df_fin_fin_fin,df_fin_fin.iloc[i,:]],axis=1)

In [139]:
df_fin_fin_fin = df_fin_fin_fin.T

In [140]:
account_list = df_fin_fin_fin['account_id'].unique()

In [158]:
recc_list = []
for i in range(len(account_list)):
    recc_list.append([df_fin_fin_fin[df_fin_fin_fin['account_id']==account_list[i]].sort_values('val_max',ascending=False)['product_id'].tolist()[0:24]])

In [159]:
recc_list[0][0]

[44331788.0, 34919942.0, 34919948.0, 67292643.0]

In [160]:
recc_list

[[[44331788.0, 34919942.0, 34919948.0, 67292643.0]],
 [[90114596.0, 90114596.0, 85927898.0, 83549800.0]],
 [[85927898.0, 89707566.0]],
 [[86895523.0, 89904068.0, 85927898.0]],
 [[28325977.0, 85927898.0, 89939883.0, 85927898.0]],
 [[37300128.0, 85927898.0, 72158875.0, 2593734.0, 65566236.0]],
 [[90117505.0,
   90117505.0,
   90076563.0,
   78509219.0,
   78509219.0,
   90076563.0,
   90047286.0,
   90118806.0,
   83492117.0,
   85927898.0]],
 [[90114596.0,
   82131803.0,
   16882003.0,
   85927898.0,
   82131803.0,
   90064965.0,
   90039458.0,
   89375963.0,
   81500000.0,
   89484458.0,
   89958123.0]],
 [[90039222.0, 69724044.0]],
 [[90086954.0, 58787793.0, 86008250.0, 24834032.0, 37525716.0, 13434581.0]],
 [[57242725.0,
   3473847.0,
   29379720.0,
   36925841.0,
   15399250.0,
   4827619.0,
   67094938.0,
   89904068.0,
   241455.0,
   89827405.0,
   89746358.0,
   89869475.0,
   59272030.0,
   90000600.0,
   59272030.0,
   5904828.0,
   90062213.0,
   4299517.0,
   89326029.0,
   89326029.0,
   64745213.0,
   4244004.0,
   89869475.0,
   85927898.0]],
 [[22431294.0]],
 [[89178799.0,
   90108907.0,
   78217357.0,
   89967507.0,
   90039222.0,
   87306110.0,
   78217357.0,
   78217357.0]],
 [[89091230.0,
   90039222.0,
   89309569.0,
   90039222.0,
   90039222.0,
   89309569.0,
   85927898.0,
   20008583.0]],
 [[88389638.0,
   32456200.0,
   22865949.0,
   86543588.0,
   84936998.0,
   88389638.0,
   3906369.0,
   90039222.0,
   89938914.0]],
 [[41850126.0, 71050635.0, 86427384.0, 41850126.0]],
 [[86361094.0,
   86008250.0,
   65282018.0,
   90088015.0,
   90108623.0,
   86008250.0,
   80855642.0,
   86008250.0,
   1990043.0,
   25258520.0,
   1457563.0,
   25258520.0,
   28113033.0,
   28113033.0,
   1990043.0,
   3806794.0,
   1990043.0,
   8708499.0,
   11022143.0,
   89990128.0,
   12759517.0,
   89309569.0,
   1440543.0,
   86008250.0]],
 [[86160726.0,
   89593348.0,
   6747902.0,
   4458918.0,
   4458918.0,
   89593348.0,
   89593348.0,
   4458918.0,
   78665192.0,
   78665192.0,
   74393609.0,
   19886699.0]],
 [[89903712.0,
   89091230.0,
   15406901.0,
   23786603.0,
   89903225.0,
   70862349.0,
   89903712.0,
   80739168.0,
   70862349.0,
   23786603.0,
   2110455.0,
   18489338.0,
   80739168.0]],
 [[234509.0,
   61844119.0,
   6425989.0,
   89999850.0,
   52896642.0,
   234509.0,
   61844119.0,
   2870072.0,
   62129776.0,
   89168414.0,
   35280911.0,
   70171970.0,
   67350410.0,
   15402774.0]],
 [[74260998.0, 89309569.0, 85927898.0, 66754547.0, 70140815.0, 69610162.0]],
 [[90128350.0, 89851054.0, 3392549.0, 90003585.0]],
 [[90086954.0,
   89309569.0,
   90072889.0,
   89593348.0,
   89309569.0,
   90072889.0,
   85963416.0,
   85431092.0,
   12687530.0,
   89309569.0,
   90000600.0,
   90061659.0,
   89309569.0,
   90000600.0,
   80120621.0,
   89967507.0,
   89990128.0,
   69050897.0,
   85927898.0,
   89990128.0,
   89309569.0,
   88240957.0,
   85927898.0]],
 [[90086954.0,
   23602785.0,
   59198184.0,
   74814614.0,
   74814614.0,
   23116422.0,
   23602785.0,
   59198169.0,
   23602775.0,
   53235148.0,
   23602788.0,
   23116452.0,
   74814614.0,
   67133713.0,
   23116458.0,
   23116421.0,
   89939383.0,
   71850084.0,
   23116441.0,
   74814738.0,
   23602775.0,
   67133713.0,
   23602775.0,
   61356506.0]],
 [[3724580.0, 3724582.0, 85927898.0, 3724582.0]],
 [[75214039.0, 85927898.0, 83519680.0, 85927898.0]],
 [[85578138.0,
   72270340.0,
   18360997.0,
   89937382.0,
   89309569.0,
   66422376.0,
   90003585.0,
   59023664.0,
   59023664.0]],
 [[61779464.0]],
 [[62635691.0]],
 [[74260921.0,
   86241389.0,
   8379424.0,
   85927924.0,
   82768655.0,
   8324641.0,
   19078685.0,
   87530293.0,
   76105377.0,
   72215376.0,
   88318987.0,
   8324641.0,
   82768655.0,
   64340664.0,
   19078685.0,
   23194906.0,
   82768655.0,
   89496128.0,
   89969668.0,
   88318987.0,
   82768655.0,
   73268037.0,
   82768655.0,
   17454340.0]],
 [[90004246.0,
   80739168.0,
   89496128.0,
   60778656.0,
   60778656.0,
   3576708.0,
   5694572.0]],
 [[89969329.0,
   90047118.0,
   3342397.0,
   89958114.0,
   80089805.0,
   89784031.0,
   24937547.0,
   78651636.0,
   90106027.0,
   55249405.0,
   28193639.0,
   28072431.0,
   8676870.0,
   9406409.0,
   4522145.0,
   9406409.0,
   61384972.0,
   89784031.0,
   9406409.0,
   90047118.0,
   89468580.0,
   8761882.0,
   89999850.0,
   15260370.0]],
 [[57922588.0,
   57922586.0,
   86621816.0,
   4170260.0,
   57922769.0,
   390826.0,
   13572606.0,
   390826.0]],
 [[80742923.0]],
 [[89927758.0,
   5919307.0,
   89468528.0,
   90109417.0,
   18458156.0,
   90082148.0,
   76638891.0,
   90108425.0,
   89306996.0,
   61933303.0,
   90082148.0,
   30748920.0,
   30152890.0,
   84189271.0,
   89927758.0,
   65550971.0,
   84892079.0,
   86938499.0,
   90088226.0,
   33529377.0,
   89784975.0,
   65550971.0,
   69476105.0,
   89784975.0]],
 [[90035550.0,
   90035550.0,
   8199919.0,
   6395091.0,
   90062213.0,
   90114596.0,
   6395091.0,
   5108814.0]],
 [[15615446.0,
   90047764.0,
   40204017.0,
   40560690.0,
   58010262.0,
   11546769.0,
   15615446.0,
   40204017.0,
   40204017.0,
   61503216.0,
   7528795.0,
   5975707.0,
   40204017.0,
   40204017.0,
   33511421.0,
   62633746.0,
   69055262.0,
   33511421.0,
   15615446.0,
   15615446.0,
   40560690.0,
   15615446.0,
   33511421.0,
   40204017.0]],
 [[90039222.0,
   89240892.0,
   90082148.0,
   89240946.0,
   90039222.0,
   90082148.0,
   89240892.0,
   54233937.0,
   89597280.0,
   90039222.0,
   65282018.0,
   69733321.0,
   9011665.0,
   69724044.0,
   86895523.0,
   65282018.0,
   90039222.0,
   86939063.0,
   60755515.0,
   88918959.0,
   9011666.0,
   89240946.0,
   80739168.0,
   60755515.0]],
 [[87473252.0]],
 [[69068037.0, 84659792.0, 85927898.0, 85927898.0]],
 [[89939559.0,
   56024674.0,
   2312211.0,
   30217950.0,
   79297023.0,
   59674622.0,
   2312211.0,
   201210.0,
   71923011.0,
   241709.0,
   18360997.0,
   29297832.0,
   75192817.0,
   80739168.0,
   84891785.0,
   37209436.0,
   78860364.0,
   75192817.0,
   37100329.0,
   74206263.0,
   352305.0,
   201210.0,
   80739168.0,
   201210.0]],
 [[63793619.0,
   80228348.0,
   25145946.0,
   13014164.0,
   63793619.0,
   89988859.0,
   16777296.0,
   38242266.0,
   17921314.0]],
 [[57552214.0,
   1494462.0,
   3128721.0,
   1494479.0,
   57552304.0,
   6318087.0,
   1494465.0,
   57552294.0,
   1494449.0,
   57552221.0,
   3128723.0,
   1494478.0,
   1494449.0,
   1494479.0,
   57552217.0,
   1494499.0,
   4708229.0,
   1494497.0,
   1494479.0,
   57552273.0,
   1494481.0,
   1494449.0,
   1494465.0,
   5667977.0]],
 [[85578137.0,
   59562864.0,
   88414739.0,
   89904068.0,
   53580370.0,
   53584432.0,
   85578137.0,
   89326015.0,
   81465704.0,
   359901.0]],
 [[85927898.0, 90046741.0, 89745952.0]],
 [[77986484.0, 51098593.0]],
 [[13604388.0,
   89999850.0,
   6778558.0,
   85927898.0,
   7570794.0,
   3209757.0,
   13604388.0]],
 [[89903225.0,
   85927898.0,
   89903225.0,
   89309569.0,
   30217950.0,
   85927898.0,
   89309569.0,
   67094876.0]],
 [[33529377.0, 86137835.0, 24259730.0, 24259730.0, 89643276.0, 24259730.0]],
 [[90061659.0,
   89605549.0,
   89904068.0,
   85927898.0,
   7950702.0,
   89309569.0,
   63038113.0,
   89904068.0,
   64694842.0,
   64694842.0,
   86641767.0,
   6359843.0,
   89605549.0,
   89745952.0,
   12648570.0,
   89309569.0,
   85927898.0,
   6359843.0,
   89309569.0,
   89745952.0,
   89385573.0,
   89605549.0,
   89916204.0,
   85927898.0]],
 [[59720717.0, 35887706.0, 9163867.0]],
 [[89309569.0, 90082148.0]],
 [[90086954.0,
   89826582.0,
   38927465.0,
   89580674.0,
   89868000.0,
   89826584.0,
   43843163.0,
   89826582.0]],
 [[43248387.0,
   90085586.0,
   43248387.0,
   44179587.0,
   64575001.0,
   29653007.0,
   4617626.0,
   64575001.0,
   64575001.0,
   26152411.0]],
 [[63038113.0, 5962700.0, 89325322.0, 90088015.0, 5962700.0]],
 [[88371357.0, 85927898.0, 86646038.0, 90072889.0, 90072889.0, 85927898.0]],
 [[89967507.0,
   64694842.0,
   89869475.0,
   89468441.0,
   64694842.0,
   69311060.0,
   74360497.0,
   89859221.0,
   90076213.0,
   89468441.0,
   89385573.0,
   60607116.0,
   85927898.0,
   60607116.0]],
 [[63038113.0,
   89831779.0,
   89831779.0,
   89553062.0,
   90082148.0,
   90039222.0,
   89605549.0,
   90082148.0,
   89969300.0,
   90082148.0,
   90108425.0,
   30669315.0,
   89869475.0,
   90047118.0,
   89604960.0,
   31082217.0,
   89760966.0,
   85927898.0,
   90082148.0]],
 [[75749811.0,
   3293969.0,
   75749811.0,
   79297023.0,
   85927898.0,
   75749811.0,
   85927898.0]],
 [[74360497.0,
   86641767.0,
   84801406.0,
   86967811.0,
   89605549.0,
   85462330.0,
   2708714.0,
   84801406.0,
   86641767.0,
   86641767.0,
   87038511.0,
   89967507.0,
   90115366.0,
   88389638.0,
   89462513.0,
   85927898.0,
   17352.0,
   84801406.0,
   89108446.0,
   87038511.0,
   89640773.0,
   84801406.0,
   69757396.0,
   13136271.0]],
 [[63594890.0, 66753119.0, 65101648.0, 37100864.0, 65101648.0, 66753119.0]],
 [[85927898.0]],
 [[89894948.0, 5725907.0]],
 [[86410426.0,
   89999850.0,
   89404482.0,
   56873.0,
   79297023.0,
   72227668.0,
   85927898.0,
   72227668.0]],
 [[89827405.0,
   30548474.0,
   89827405.0,
   65282018.0,
   60208514.0,
   22793441.0,
   65282018.0,
   89328042.0,
   22793441.0,
   77272418.0,
   89916204.0,
   68749139.0,
   22793441.0,
   22793441.0,
   64589379.0,
   4700838.0,
   22793441.0,
   22793441.0,
   77272418.0,
   89869527.0,
   32489004.0,
   30547371.0,
   85927898.0,
   4827619.0]],
 [[90039222.0,
   78226335.0,
   89386272.0,
   89309569.0,
   67518799.0,
   67518799.0,
   89404482.0,
   85927898.0]],
 [[89872379.0, 90047118.0, 90052002.0, 90076213.0, 85927898.0]],
 [[87116793.0,
   87116793.0,
   87116793.0,
   64340844.0,
   66372594.0,
   24034748.0,
   87116793.0,
   61780456.0,
   85927898.0,
   66372594.0]],
 [[2746218.0,
   39441749.0,
   59428053.0,
   41076259.0,
   59428053.0,
   47239848.0,
   37300128.0,
   47239848.0]],
 [[87531165.0,
   75235476.0,
   89904068.0,
   4827619.0,
   33599350.0,
   70812839.0,
   2312211.0,
   70812839.0,
   33599350.0,
   85927898.0,
   89784031.0,
   2659394.0,
   7914688.0,
   84659792.0,
   9152890.0,
   4827619.0,
   89333861.0,
   2659394.0,
   11302612.0,
   23358909.0,
   81503945.0]],
 [[90114432.0,
   74031185.0,
   89386952.0,
   90000600.0,
   90071865.0,
   90000600.0,
   23030284.0,
   87490484.0,
   89666874.0,
   90039222.0,
   83763499.0]],
 [[34925543.0,
   57504093.0,
   89429762.0,
   90087484.0,
   85466451.0,
   89221351.0,
   90087484.0,
   90039222.0,
   77673587.0,
   89179626.0,
   89221351.0,
   17561653.0,
   68157021.0,
   89553061.0,
   90125165.0,
   69281729.0,
   8017844.0,
   89221351.0,
   85927898.0,
   68724647.0,
   90087484.0,
   8637498.0,
   68157021.0,
   89179626.0]],
 [[69734406.0,
   3611728.0,
   69734406.0,
   78873080.0,
   89967507.0,
   69734406.0,
   85025957.0]],
 [[67094938.0,
   90114559.0,
   89999850.0,
   89386166.0,
   89999850.0,
   57659256.0,
   66323045.0,
   89958114.0]],
 [[85030564.0,
   85030922.0,
   85030572.0,
   89317338.0,
   88373374.0,
   90075216.0,
   65282018.0,
   90075216.0,
   85030904.0,
   90075364.0,
   90075216.0,
   90075357.0,
   65282018.0,
   90075205.0,
   88372713.0,
   87629946.0,
   88373114.0,
   90075325.0,
   90075216.0,
   65282018.0,
   90075364.0,
   88372713.0,
   90075280.0,
   65282018.0]],
 [[68784574.0,
   65282018.0,
   8420477.0,
   37923418.0,
   60512049.0,
   34914538.0,
   75456481.0,
   77136621.0,
   6157159.0,
   64693051.0,
   85466321.0,
   3031902.0,
   20536907.0]],
 [[85927898.0,
   89827405.0,
   89827405.0,
   89826582.0,
   85927898.0,
   85927898.0,
   89826582.0,
   85927898.0,
   89969932.0]],
 [[90039222.0,
   90039222.0,
   85927898.0,
   90039222.0,
   89697040.0,
   85927898.0,
   85927898.0]],
 [[59495035.0,
   54587899.0,
   54587899.0,
   54587899.0,
   85927898.0,
   61790845.0,
   61778623.0,
   37300128.0,
   76106687.0]],
 [[89309569.0, 88389638.0, 90039222.0, 24912652.0, 89924610.0]],
 [[86017987.0,
   89386272.0,
   90039222.0,
   90061659.0,
   89404482.0,
   89967507.0,
   89913366.0,
   89309569.0,
   65282018.0]],
 [[90114596.0, 4300339.0, 5982086.0, 30217950.0]],
 [[89309569.0,
   89584750.0,
   90047118.0,
   90047118.0,
   11686910.0,
   8861480.0,
   86008250.0,
   70227508.0,
   89584750.0,
   86008250.0,
   89309569.0,
   70227508.0,
   90062598.0,
   89584750.0,
   60505256.0,
   8861480.0,
   12468207.0,
   23892795.0,
   75200668.0,
   64694842.0,
   12468207.0,
   73775440.0]],
 [[89404482.0, 24259730.0, 85927898.0, 85927898.0, 69751818.0]],
 [[85927898.0]],
 [[30387696.0,
   89827405.0,
   85930657.0,
   71849830.0,
   90039222.0,
   89525316.0,
   37300128.0,
   89904068.0,
   76470464.0]],
 [[85927898.0]],
 [[31076595.0, 58251613.0]],
 [[75554388.0,
   75554940.0,
   75554690.0,
   75554940.0,
   75554146.0,
   75554146.0,
   53222211.0,
   75554690.0,
   75554388.0,
   75554388.0,
   75554146.0,
   75552785.0,
   59720706.0,
   75554940.0,
   75554940.0,
   75554940.0,
   59198169.0,
   59720706.0,
   75554146.0,
   59720706.0,
   59198169.0,
   75552785.0,
   2311628.0,
   68693139.0]],
 [[72251785.0,
   89958114.0,
   89307469.0,
   89895602.0,
   70907891.0,
   90076563.0,
   86543063.0,
   67094041.0,
   65282018.0,
   89871791.0,
   36925738.0,
   86427460.0,
   64694842.0,
   88389733.0,
   89648975.0,
   37211852.0,
   90115028.0,
   32723134.0,
   72159493.0,
   86410173.0,
   3922884.0,
   90071909.0,
   87631628.0,
   90064564.0]],
 [[89581557.0,
   90002351.0,
   86690319.0,
   82895840.0,
   86023767.0,
   64337524.0,
   90061963.0,
   89375566.0,
   89987184.0,
   81507290.0,
   54233937.0,
   30555650.0,
   58671052.0,
   89855125.0,
   90061963.0,
   89420578.0,
   89420578.0,
   89243578.0,
   86023767.0,
   15260316.0,
   25846616.0,
   60605809.0,
   8160385.0,
   88965013.0]],
 [[85927898.0, 29078325.0]],
 [[37300128.0,
   79297023.0,
   37300128.0,
   37300128.0,
   37300128.0,
   37300128.0,
   79297023.0,
   79297023.0,
   59260220.0,
   37300128.0,
   37300128.0,
   65282018.0,
   89309569.0,
   63688657.0,
   90061659.0,
   90039222.0]]]

In [161]:
[len(recc[0]) for recc in recc_list]

[4,
 4,
 2,
 3,
 4,
 5,
 10,
 11,
 2,
 6,
 24,
 1,
 8,
 8,
 9,
 4,
 24,
 12,
 13,
 14,
 6,
 4,
 23,
 24,
 4,
 4,
 9,
 1,
 1,
 24,
 7,
 24,
 8,
 1,
 24,
 8,
 24,
 24,
 1,
 4,
 24,
 9,
 24,
 10,
 3,
 2,
 7,
 8,
 6,
 24,
 3,
 2,
 8,
 10,
 5,
 6,
 14,
 19,
 7,
 24,
 6,
 1,
 2,
 8,
 24,
 8,
 5,
 10,
 8,
 21,
 11,
 24,
 7,
 8,
 24,
 13,
 9,
 7,
 9,
 5,
 9,
 4,
 22,
 5,
 1,
 9,
 1,
 2,
 24,
 24,
 24,
 2,
 16]

In [163]:
recc_book_list = [y for x in recc_list for y in x]

In [164]:
recc_book_list = [y for x in recc_book_list for y in x]

In [165]:
recc_book_list = list(set(recc_book_list))

In [166]:
recc_book_list.remove(85927898)

In [167]:
recc_book_list

[88389638.0,
 6318087.0,
 69734406.0,
 74393609.0,
 85030922.0,
 35280911.0,
 29653007.0,
 75552785.0,
 2312211.0,
 89913366.0,
 22865949.0,
 89894948.0,
 241709.0,
 352305.0,
 40560690.0,
 17561653.0,
 90087484.0,
 3342397.0,
 90064965.0,
 90075205.0,
 78860364.0,
 89827405.0,
 89927758.0,
 16777296.0,
 74031185.0,
 90075216.0,
 84189271.0,
 28325977.0,
 71850084.0,
 89333861.0,
 88389733.0,
 86241389.0,
 89987184.0,
 89903225.0,
 12648570.0,
 87629946.0,
 75554940.0,
 88373374.0,
 90003585.0,
 44179587.0,
 28113033.0,
 84891785.0,
 78217357.0,
 90075280.0,
 11546769.0,
 75235476.0,
 75200668.0,
 88371357.0,
 60778656.0,
 4522145.0,
 89553061.0,
 89553062.0,
 12687530.0,
 90106027.0,
 30152890.0,
 90075325.0,
 32723134.0,
 83519680.0,
 76470464.0,
 90085586.0,
 37525716.0,
 90075357.0,
 90075364.0,
 89221351.0,
 34914538.0,
 31076595.0,
 78651636.0,
 30748920.0,
 72159493.0,
 61384972.0,
 89643276.0,
 67133713.0,
 90046741.0,
 84936998.0,
 36925738.0,
 83763499.0,
 59023664.0,
 89307469.0,
 67518799.0,
 73775440.0,
 15399250.0,
 16882003.0,
 7528795.0,
 67094876.0,
 57504093.0,
 58251613.0,
 89831779.0,
 81465704.0,
 7950702.0,
 9152890.0,
 90114432.0,
 89309569.0,
 72251785.0,
 63594890.0,
 13136271.0,
 36925841.0,
 8708499.0,
 85578137.0,
 67094938.0,
 85578138.0,
 4458918.0,
 89328042.0,
 84892079.0,
 75749811.0,
 3473847.0,
 74260921.0,
 86008250.0,
 5904828.0,
 68784574.0,
 89326015.0,
 89326029.0,
 9011665.0,
 9011666.0,
 63793619.0,
 69757396.0,
 61356506.0,
 12759517.0,
 4827619.0,
 61780456.0,
 89999850.0,
 28072431.0,
 75192817.0,
 78873080.0,
 201210.0,
 30548474.0,
 54587899.0,
 55249405.0,
 13572606.0,
 79297023.0,
 90114559.0,
 30669315.0,
 72270340.0,
 74260998.0,
 90108425.0,
 80742923.0,
 23030284.0,
 86690319.0,
 69050897.0,
 88414739.0,
 4170260.0,
 25258520.0,
 8761882.0,
 3209757.0,
 89168414.0,
 89745952.0,
 90114596.0,
 4244004.0,
 87038511.0,
 53584432.0,
 64694842.0,
 89496128.0,
 5919307.0,
 90088015.0,
 53580370.0,
 69311060.0,
 80855642.0,
 25145946.0,
 35887706.0,
 37923418.0,
 66753119.0,
 89903712.0,
 89385573.0,
 66323045.0,
 19886699.0,
 65550971.0,
 59495035.0,
 61790845.0,
 23116421.0,
 23116422.0,
 60607116.0,
 90047118.0,
 89784975.0,
 89969300.0,
 90118806.0,
 61844119.0,
 85963416.0,
 23116441.0,
 58010262.0,
 15260316.0,
 63038113.0,
 85930657.0,
 23116452.0,
 18360997.0,
 4700838.0,
 47239848.0,
 23116458.0,
 76638891.0,
 89178799.0,
 89969329.0,
 69610162.0,
 89895602.0,
 77986484.0,
 64340664.0,
 61778623.0,
 80089805.0,
 90108623.0,
 15260370.0,
 86543063.0,
 59198169.0,
 59198184.0,
 77136621.0,
 4299517.0,
 43248387.0,
 44331788.0,
 24912652.0,
 82768655.0,
 89697040.0,
 3293969.0,
 90004246.0,
 69055262.0,
 1440543.0,
 90088226.0,
 6359843.0,
 89420578.0,
 37100329.0,
 89916204.0,
 80120621.0,
 85431092.0,
 87530293.0,
 90047286.0,
 29078325.0,
 2870072.0,
 90071865.0,
 64693051.0,
 23892795.0,
 88240957.0,
 3906369.0,
 53222211.0,
 73268037.0,
 89375566.0,
 72215376.0,
 54233937.0,
 72227668.0,
 25846616.0,
 82131803.0,
 90061659.0,
 59272030.0,
 3031902.0,
 80739168.0,
 89604960.0,
 90082148.0,
 90071909.0,
 28193639.0,
 6157159.0,
 64340844.0,
 90125165.0,
 59562864.0,
 52896642.0,
 86938499.0,
 3576708.0,
 70140815.0,
 89967507.0,
 78226335.0,
 86895523.0,
 88918959.0,
 90002351.0,
 90039222.0,
 89746358.0,
 86410173.0,
 76106687.0,
 89904068.0,
 3922884.0,
 2593734.0,
 17352.0,
 69733321.0,
 5962700.0,
 90115028.0,
 81507290.0,
 82895840.0,
 51098593.0,
 89938914.0,
 34925543.0,
 90108907.0,
 86137835.0,
 89990128.0,
 66372594.0,
 2110455.0,
 87116793.0,
 11686910.0,
 89924610.0,
 59720706.0,
 89969668.0,
 86361094.0,
 69751818.0,
 88318987.0,
 234509.0,
 59720717.0,
 57922586.0,
 57922588.0,
 8379424.0,
 3392549.0,
 89707566.0,
 90076213.0,
 74206263.0,
 8637498.0,
 89404482.0,
 2659394.0,
 89525316.0,
 24937547.0,
 5108814.0,
 3611728.0,
 9163867.0,
 87473252.0,
 57242725.0,
 86641767.0,
 38927465.0,
 23786603.0,
 5694572.0,
 89584750.0,
 77673587.0,
 8420477.0,
 8160385.0,
 89580674.0,
 29379720.0,
 5667977.0,
 90061963.0,
 24259730.0,
 68693139.0,
 13014164.0,
 89859221.0,
 74814614.0,
 89855125.0,
 89091230.0,
 90039458.0,
 78509219.0,
 89869475.0,
 85025957.0,
 70812839.0,
 29297832.0,
 60505256.0,
 89484458.0,
 89851054.0,
 89386166.0,
 86410426.0,
 7914688.0,
 89760966.0,
 57922769.0,
 85466321.0,
 6395091.0,
 59428053.0,
 75214039.0,
 90000600.0,
 89869527.0,
 89375963.0,
 22793441.0,
 86543588.0,
 2708714.0,
 17454340.0,
 69068037.0,
 89969932.0,
 41850126.0,
 74814738.0,
 90047764.0,
 83492117.0,
 89826582.0,
 86646038.0,
 89826584.0,
 23194906.0,
 89386272.0,
 17921314.0,
 3724580.0,
 3724582.0,
 90115366.0,
 85462330.0,
 89666874.0,
 89240892.0,
 59260220.0,
 37100864.0,
 70171970.0,
 71923011.0,
 85466451.0,
 39441749.0,
 86160726.0,
 57552214.0,
 57552217.0,
 37209436.0,
 57552221.0,
 90035550.0,
 89597280.0,
 77272418.0,
 75554146.0,
 7570794.0,
 60605809.0,
 89240946.0,
 90117505.0,
 60208514.0,
 90062213.0,
 6425989.0,
 71050635.0,
 3128721.0,
 57552273.0,
 90076563.0,
 3128723.0,
 4617626.0,
 1990043.0,
 1457563.0,
 90052002.0,
 57552294.0,
 30547371.0,
 89605549.0,
 89871791.0,
 57552304.0,
 1494449.0,
 89939383.0,
 86939063.0,
 24034748.0,
 23358909.0,
 1494462.0,
 1494465.0,
 53235148.0,
 2311628.0,
 1494478.0,
 1494479.0,
 1494481.0,
 15615446.0,
 26152411.0,
 359901.0,
 1494497.0,
 67292643.0,
 1494499.0,
 89937382.0,
 78665192.0,
 90109417.0,
 89179626.0,
 88372713.0,
 30387696.0,
 30555650.0,
 86967811.0,
 89593348.0,
 34919942.0,
 8676870.0,
 32456200.0,
 61779464.0,
 34919948.0,
 70862349.0,
 64575001.0,
 89468441.0,
 67094041.0,
 65566236.0,
 19078685.0,
 8324641.0,
 33529377.0,
 41076259.0,
 13604388.0,
 56873.0,
 90086954.0,
 18458156.0,
 32489004.0,
 4300339.0,
 70227508.0,
 60755515.0,
 22431294.0,
 64589379.0,
 3806794.0,
 20536907.0,
 84659792.0,
 75554388.0,
 23602775.0,
 86023767.0,
 43843163.0,
 68157021.0,
 23602785.0,
 56024674.0,
 23602788.0,
 89939559.0,
 83549800.0,
 66422376.0,
 62129776.0,
 89468528.0,
 64337524.0,
 86621816.0,
 20008583.0,
 72158875.0,
 5975707.0,
 87531165.0,
 76105377.0,
 89468580.0,
 85030564.0,
 390826.0,
 62635691.0,
 85030572.0,
 74360497.0,
 90064564.0,
 6778558.0,
 81503945.0,
 37211852.0,
 5725907.0,
 11302612.0,
 13434581.0,
 30217950.0,
 89784031.0,
 89868000.0,
 89958114.0,
 31082217.0,
 89958123.0,
 8199919.0,
 61503216.0,
 40204017.0,
 89462513.0,
 61933303.0,
 86427384.0,
 89988859.0,
 64745213.0,
 6747902.0,
 89429762.0,
 90062598.0,
 69476105.0,
 89325322.0,
 87631628.0,
 62633746.0,
 15402774.0,
 8861480.0,
 241455.0,
 60512049.0,
 15406901.0,
 90072889.0,
 11022143.0,
 86427460.0,
 89640773.0,
 89648975.0,
 65101648.0,
 68749139.0,
 81500000.0,
 71849830.0,
 2746218.0,
 89306996.0,
 33599350.0,
 57659256.0,
 88373114.0,
 87306110.0,
 84801406.0,
 75554690.0,
 4708229.0,
 5982086.0,
 67350410.0,
 69724044.0,
 88965013.0,
 37300128.0,
 68724647.0,
 89939883.0,
 87490484.0,
 8017844.0,
 89243578.0,
 69281729.0,
 86017987.0,
 89386952.0,
 9406409.0,
 58671052.0,
 58787793.0,
 63688657.0,
 38242266.0,
 89317338.0,
 90128350.0,
 89108446.0,
 75456481.0,
 65282018.0,
 12468207.0,
 24834032.0,
 66754547.0,
 85927924.0,
 70907891.0,
 89581557.0,
 85030904.0,
 18489338.0,
 89872379.0,
 80228348.0,
 33511421.0,
 59674622.0]

In [175]:
df_100_fin[df_100_fin['product_id'].isin(recc_book_list)]['purchase'].sum()

391.0

In [171]:
df_fin_fin_fin[df_fin_fin_fin['account_id']==account_list[0]].sort_values('val_max',ascending=False)['product_id'].tolist()[0:24]

[44331788.0, 34919942.0, 34919948.0, 67292643.0]

In [172]:
df_fin_fin_fin[df_fin_fin_fin['account_id']==account_list[0]].sort_values('val_max',ascending=False)['product_id']

17    44331788.0
23    34919942.0
22    34919948.0
25    67292643.0
Name: product_id, dtype: float64

In [173]:
df_fin_fin_fin.sort_values(['account_id','val_max'],ascending=False)[0:50]

,account_id,product_id,book_cluster,0,1,2,3,4,val_max,val_max_idx
4120,16790454.0,37300128.0,1.0,-0.086427,0.499775,0.050252,-0.174359,-0.039236,0.499775,1.0
4119,16790454.0,79297023.0,1.0,-0.024507,0.482987,0.001415,-0.151331,-0.142064,0.482987,1.0
4117,16790454.0,37300128.0,1.0,-0.133613,0.455308,-0.102648,-0.241132,0.043122,0.455308,1.0
4124,16790454.0,37300128.0,1.0,-0.041165,0.447951,-0.060858,-0.287709,0.044051,0.447951,1.0
4108,16790454.0,37300128.0,1.0,-0.132805,0.393513,-0.038143,-0.239686,-0.025957,0.393513,1.0
4103,16790454.0,37300128.0,1.0,-0.094839,0.323402,-0.048594,-0.128818,-0.032212,0.323402,1.0
4088,16790454.0,79297023.0,1.0,-0.069809,0.323316,-0.139896,-0.148668,-0.184082,0.323316,1.0
4073,16790454.0,79297023.0,1.0,-0.046853,0.263619,0.118237,-0.419719,-0.022967,0.263619,1.0
4072,16790454.0,59260220.0,2.0,0.112732,-0.282695,0.255865,-0.229528,0.124067,0.255865,2.0
4100,16790454.0,37300128.0,1.0,-0.028108,0.239709,-0.169376,-0.313396,-0.085323,0.239709,1.0
4096,16790454.0,37300128.0,1.0,-0.004763,0.218254,-0.200370,-0.272850,0.012328,0.218254,1.0
4084,16790454.0,65282018.0,2.0,0.058522,0.110866,0.191640,-0.078400,0.114816,0.191640,2.0
4069,16790454.0,89309569.0,3.0,-0.063426,-0.035225,0.146071,0.186341,-0.042155,0.186341,3.0
4079,16790454.0,63688657.0,4.0,0.015910,-0.168208,0.083975,-0.042007,0.174044,0.174044,4.0
4071,16790454.0,90061659.0,3.0,0.059242,-0.054407,0.003760,0.133078,0.061722,0.133078,3.0
4132,16790454.0,90039222.0,3.0,-0.033436,-0.026760,-0.000507,0.105007,-0.006311,0.105007,3.0
4066,16415823.0,85927898.0,3.0,-0.035540,-0.107852,0.017874,0.202379,0.073973,0.202379,3.0
4067,16415823.0,29078325.0,0.0,0.183656,-0.001032,0.060447,0.147883,-0.068304,0.183656,0.0
4005,15940091.0,89581557.0,3.0,0.024770,-0.396367,0.167930,0.472711,-0.108290,0.472711,3.0
4048,15940091.0,90002351.0,3.0,-0.063510,-0.443035,0.194557,0.420932,-0.012811,0.420932,3.0
4039,15940091.0,86690319.0,3.0,0.029439,-0.404244,0.108320,0.406278,-0.116750,0.406278,3.0
4014,15940091.0,82895840.0,3.0,0.001198,-0.258836,-0.010477,0.390004,-0.193693,0.390004,3.0
3935,15940091.0,86023767.0,3.0,-0.037640,-0.308110,0.352577,0.387348,-0.260351,0.387348,3.0
3965,15940091.0,64337524.0,2.0,0.148606,-0.540432,0.383124,-0.161748,0.328317,0.383124,2.0
3994,15940091.0,90061963.0,3.0,0.126913,-0.453304,0.135724,0.380534,-0.157587,0.380534,3.0
3917,15940091.0,89375566.0,3.0,-0.051401,-0.087376,-0.111055,0.379950,0.079855,0.379950,3.0
3992,15940091.0,89987184.0,3.0,-0.085293,-0.282072,0.100989,0.379141,-0.169202,0.379141,3.0
3989,15940091.0,81507290.0,3.0,0.098192,-0.210326,0.178917,0.378589,-0.092440,0.378589,3.0
4053,15940091.0,54233937.0,2.0,0.101220,-0.355690,0.378560,0.243028,-0.033375,0.378560,2.0
3923,15940091.0,30555650.0,2.0,-0.030906,-0.179128,0.372890,-0.143834,-0.041229,0.372890,2.0
3957,15940091.0,58671052.0,2.0,0.078166,-0.300730,0.371119,0.161546,0.100201,0.371119,2.0
3999,15940091.0,89855125.0,3.0,0.011952,-0.584476,0.242537,0.370354,-0.022956,0.370354,3.0
4052,15940091.0,90061963.0,3.0,-0.032922,-0.128463,0.246318,0.368028,-0.212866,0.368028,3.0
4015,15940091.0,89420578.0,3.0,0.005145,-0.465925,0.202995,0.357846,-0.040488,0.357846,3.0
4058,15940091.0,89420578.0,3.0,-0.105326,-0.421855,0.250127,0.353496,-0.104377,0.353496,3.0
4020,15940091.0,89243578.0,3.0,-0.084489,-0.396479,0.129979,0.351197,-0.227952,0.351197,3.0
4049,15940091.0,86023767.0,3.0,0.045013,-0.465090,0.257054,0.348065,-0.227287,0.348065,3.0
3944,15940091.0,15260316.0,2.0,0.091060,-0.210165,0.346877,0.014383,-0.110294,0.346877,2.0
3967,15940091.0,25846616.0,2.0,0.036713,-0.173189,0.346464,0.026458,0.131888,0.346464,2.0
4055,15940091.0,60605809.0,2.0,0.163396,-0.182666,0.343127,0.084193,-0.009992,0.343127,2.0
4030,15940091.0,8160385.0,0.0,0.329409,-0.021636,0.037489,0.079523,0.049142,0.329409,0.0
3971,15940091.0,88965013.0,3.0,-0.001652,-0.255532,0.172748,0.327736,-0.111587,0.327736,3.0
3983,15940091.0,86690319.0,3.0,0.022067,-0.442946,0.235869,0.320153,-0.218671,0.320153,3.0
4041,15940091.0,81507290.0,3.0,0.049782,-0.558489,0.268301,0.313568,-0.094669,0.313568,3.0
4002,15940091.0,60605809.0,2.0,0.128829,-0.166350,0.312563,0.086729,-0.141995,0.312563,2.0
3966,15940091.0,75516740.0,2.0,0.005931,-0.187664,0.312470,-0.079229,0.010999,0.312470,2.0
3962,15940091.0,69622442.0,2.0,0.059669,-0.251172,0.310081,0.070794,0.052237,0.310081,2.0
4035,15940091.0,60605809.0,2.0,0.145947,-0.344351,0.307746,0.060367,-0.012795,0.307746,2.0
4046,15940091.0,72260867.0,2.0,0.069207,-0.438907,0.305482,0.155129,-0.057437,0.305482,2.0
3979,15940091.0,86139677.0,3.0,-0.058807,-0.135989,0.215178,0.302644,-0.055958,0.302644,3.0

In [96]:
t_init = time.time()
results = run_contextual_bandit(context_dim, num_actions, dataset, algos)

ValueError: too many values to unpack (expected 2)

In [97]:
_, h_rewards,h_vals = results

In [98]:
display_results(algos, opt_rewards, opt_actions, h_rewards, t_init, 'yes24')

---------------------------------------------------
---------------------------------------------------
yes24 bandit completed after 172.4958164691925 seconds.
---------------------------------------------------
  0) LinFullPost         | 	 	 total reward =     3495.0.
---------------------------------------------------
Optimal total reward = 4133.0.
Frequency of optimal actions (action, frequency):
[[0, 385], [1, 780], [2, 733], [3, 1788], [4, 447]]
---------------------------------------------------
---------------------------------------------------

In [94]:
display_results(algos, opt_rewards, opt_actions, h_rewards2, t_init2, 'yes24')

---------------------------------------------------
---------------------------------------------------
yes24 bandit completed after 1718.75066781044 seconds.
---------------------------------------------------
  0) LinFullPost         | 	 	 total reward =      381.0.
---------------------------------------------------
Optimal total reward = 4133.0.
Frequency of optimal actions (action, frequency):
[[0, 385], [1, 780], [2, 733], [3, 1788], [4, 447]]
---------------------------------------------------
---------------------------------------------------

In [31]:
display_results(algos, opt_rewards, opt_actions, h_rewards2, t_init2, 'yes24')

---------------------------------------------------
---------------------------------------------------
yes24 bandit completed after 93.9321277141571 seconds.
---------------------------------------------------
  0) LinFullPost         | 	 	 total reward =       82.0.
---------------------------------------------------
Optimal total reward = 4133.0.
Frequency of optimal actions (action, frequency):
[[0, 385], [1, 780], [2, 733], [3, 1788], [4, 447]]
---------------------------------------------------
---------------------------------------------------

In [31]:
ts_actions = _.T[0]

In [36]:
len(ts_actions)

4133

In [37]:
len(labels)

4133

In [40]:
len(rewards_list)

4133

In [45]:
rewards_list = np.array(rewards_list)

In [50]:
df_eval = pd.concat([pd.DataFrame(ts_actions),pd.DataFrame(labels),pd.DataFrame(rewards_list)],axis=1)

In [52]:
df_eval.columns=['ts_actions','labels','reward']

In [60]:
rewards_fin = 0
for i in range(len(df_eval)):
    if df_eval['reward'][i] == 1:
        if df_eval['ts_actions'][i] == df_eval['labels'][i]:
            rewards_fin +=1

In [61]:
rewards_fin

615

In [68]:
mean1 = algos[0].mu

In [69]:
cov1 = algos[0].cov

In [75]:
mean2 = algos[0].mu

In [76]:
cov2 = algos[0].cov

In [31]:
algos[0].mu

[array([ 2.94238351e-03, -2.94238351e-03,  0.00000000e+00,  1.86575911e-02,
        -2.70227944e-02, -1.15259194e-02,  2.31228639e-02,  5.91907131e-03,
         0.00000000e+00, -2.09351004e-02,  5.09044305e-03, -2.21060517e-02,
        -1.42324452e-02,  5.62984922e-05, -2.10951052e-02,  2.05857716e-03,
         5.08096442e-03, -8.19246790e-03,  1.84492896e-02,  0.00000000e+00,
         1.05237238e-02,  1.97907673e-02,  0.00000000e+00, -2.15151753e-02,
        -1.46805238e-02, -1.08972048e-02, -4.87409864e-03, -1.37862495e-02,
         2.45011192e-02, -6.91920123e-03,  2.83958830e-02, -2.15381536e-03,
         9.58653860e-03, -4.11546726e-03, -1.32562954e-03,  1.32562954e-03,
         1.69998275e-02, -1.69998275e-02, -1.48153127e-03,  1.00725578e-02,
         8.28318908e-02, -1.44173775e-02,  3.27791961e-02,  3.81069300e-02,
         1.08810215e-02,  1.08113050e-02, -9.18157155e-03,  3.27987480e-02,
         1.06950729e-02,  2.76052955e-02,  5.91797466e-02,  6.10902328e-03,
         3.17441997e-02,  4.01472060e-02, -4.33593240e-02,  1.75208281e-02,
        -5.28724953e-02, -3.60286418e-02, -1.61929642e-03, -6.67766801e-02,
        -3.49379346e-02, -6.44626173e-02, -3.18797270e-02, -4.74073092e-02,
        -6.74305672e-02,  1.74839878e-02,  6.02975811e-02,  3.64922002e-02,
         5.57490581e-02,  8.99834509e-02, -8.33800079e-02, -4.91406107e-02,
        -3.61890334e-03]),
 array([-1.47461066e-02,  1.47461066e-02,  0.00000000e+00, -2.91751989e-02,
        -7.19102677e-03,  9.57545566e-03,  8.60427343e-04, -8.84558333e-04,
         0.00000000e+00, -1.49290245e-02,  1.73550987e-02,  3.60600886e-02,
         9.39914381e-04,  2.90611691e-03, -5.22409712e-02, -5.03355297e-04,
         5.12597449e-03, -1.27417193e-02,  2.17367704e-02,  0.00000000e+00,
        -1.01529480e-02, -3.88945462e-02,  0.00000000e+00,  2.21286004e-03,
        -1.01936495e-02,  3.94039859e-04, -5.75896004e-03,  1.78654951e-02,
        -1.17729936e-03, -1.49192704e-03,  1.10676845e-03, -1.10654824e-02,
        -1.79137790e-03, -7.79127697e-03, -1.91435001e-02,  1.91435001e-02,
        -7.36623069e-03,  7.36623069e-03, -1.01603094e-02,  9.09927292e-05,
        -9.79515911e-02, -7.72425169e-03, -7.73554022e-02, -2.84316157e-02,
        -2.60524887e-02, -5.23873696e-02, -8.54844535e-03, -5.88859811e-02,
        -9.54869377e-04, -2.95306020e-02, -6.26567968e-03, -1.10898423e-02,
        -1.78171673e-02, -3.19617550e-02,  3.65606991e-02,  1.00430779e-02,
         3.06536582e-02,  4.15962765e-02,  6.22791005e-04,  5.92028033e-02,
         6.77670940e-02,  5.44954616e-02,  5.70511713e-02, -1.06882227e-01,
        -2.40554342e-02,  6.06244993e-02,  4.03114650e-02,  5.11967531e-02,
         5.05876633e-02,  8.67304813e-02, -7.11110677e-02, -5.98974085e-02,
         3.82930980e-02]),
 array([ 8.09991008e-03, -8.09991008e-03,  0.00000000e+00,  3.45437575e-02,
         1.71409755e-03,  4.48923661e-03,  9.72426059e-03, -3.15965717e-02,
         0.00000000e+00, -2.45407871e-02,  3.32050747e-03,  2.67216189e-04,
         1.20984148e-02,  4.60431752e-04, -9.28494149e-03, -6.39347914e-03,
         1.36531182e-02, -1.15254151e-02,  1.16439600e-02,  0.00000000e+00,
         1.21768044e-02, -1.50963904e-05,  0.00000000e+00,  5.51569108e-03,
        -2.44191156e-02, -9.03237246e-03, -4.30631284e-03,  4.14053953e-03,
         2.62305084e-02, -1.36134746e-03,  3.40387963e-03, -1.29096730e-02,
         2.47166768e-02, -1.69411707e-02,  2.20677558e-02, -2.20677558e-02,
         8.84326923e-03, -8.84326923e-03,  2.48570797e-03, -2.19818428e-02,
        -4.95773641e-02, -3.85106191e-02, -4.17932601e-02, -3.70455581e-02,
        -4.81834814e-03, -3.84811416e-02,  6.66205571e-04, -4.58607472e-02,
        -1.45956116e-02, -4.26907631e-02, -9.91202309e-02, -1.33597376e-02,
         1.64128352e-02,  2.61428584e-02,  3.21335285e-02,  1.31531102e-02,
         5.41929334e-02,  4.41735310e-02,  8.08926975e-03,  3.18185164e-02,
         3.14128134e-02,  4.19186875e-02,  7.20844865e-02, -1.13697498e-01,
        -3.54991503e-03,  1.88186753e-02,  5.54171578e-02,  5.34841398e-02,
        -6.90491825e-02, -8.32390043e-02,  1.03785788e-01,  1.74504020e-02,
         9.29177412e-02]),
 array([-5.02454666e-04,  5.02454666e-04,  0.00000000e+00,  2.47324188e-03,
         1.04742316e-02, -5.83838748e-03,  5.10151059e-03, -1.03518521e-02,
         0.00000000e+00, -7.39788993e-03,  1.59010435e-02, -2.41717204e-02,
        -6.30446559e-04, -4.02038577e-03, -1.65927521e-02, -6.73857650e-03,
         2.70697898e-03, -5.09490354e-03,  2.27912669e-02,  0.00000000e+00,
        -3.62097524e-03, -3.09176728e-02,  0.00000000e+00, -6.87979290e-03,
        -1.46636853e-02,  1.01804571e-03, -2.48593378e-03,  2.90367992e-02,
         1.72385306e-02,  1.57603835e-02,  1.17114578e-02, -4.99830034e-03,
        -9.78865785e-03,  2.11224214e-02,  5.62132103e-03, -5.62132103e-03,
         2.03895593e-02, -2.03895593e-02, -2.56923214e-03,  1.97216782e-03,
         3.46522764e-02, -7.83579586e-03, -8.02472784e-04,  1.17867242e-02,
        -1.26018499e-02,  1.69916766e-03, -1.58962699e-03, -6.08240874e-03,
        -2.57362527e-03,  2.68610140e-03,  5.93127444e-03,  2.35449105e-04,
        -8.98773903e-03, -3.78670335e-03,  4.97350355e-03, -9.34513377e-03,
        -5.26121299e-03,  6.17818162e-03,  2.41244092e-03,  1.09689248e-02,
        -1.15968432e-02, -2.17271373e-02, -1.64196902e-02,  1.34858702e-01,
         8.66549259e-02,  2.13482940e-02, -1.15238035e-01, -1.11741923e-01,
        -1.17725298e-02,  5.13901792e-03,  7.98749021e-03, -9.86179575e-03,
         2.58432949e-01]),
 array([-1.65756592e-02,  1.65756592e-02,  0.00000000e+00,  2.56390090e-02,
         2.47247414e-02, -9.18071352e-03,  1.55375670e-02, -4.14506160e-02,
         0.00000000e+00, -1.81770186e-02,  3.96578644e-02, -3.07332453e-02,
         2.13247079e-04,  3.81320690e-04, -1.25201178e-02,  1.31812985e-02,
        -5.83262965e-03, -1.79509602e-03,  1.39257640e-02,  0.00000000e+00,
         3.37128449e-03, -6.02639281e-02,  0.00000000e+00, -4.91215618e-03,
        -2.75062747e-02,  5.21920263e-02,  8.01569964e-03,  9.83567529e-03,
         2.98767274e-02,  2.98140549e-02,  7.15767855e-04,  6.66247906e-05,
         5.72101117e-03,  1.77336832e-02,  3.40138647e-03, -3.40138647e-03,
         3.06963730e-02, -3.06963730e-02, -1.06871229e-03, -1.26629401e-03,
         1.03779901e-01,  2.64842087e-02, -3.21423934e-04,  2.24331925e-02,
         3.77314134e-03,  3.66768313e-02,  3.15697142e-02,  4.27573889e-02,
         1.13293007e-02,  5.27427356e-02,  7.87279877e-02,  6.96160611e-03,
        -2.96080921e-02, -4.00208061e-02, -1.08928826e-02, -2.54444446e-02,
        -3.98854656e-02, -7.06955961e-02, -1.79809351e-02, -2.38468555e-02,
        -2.19296258e-02, -3.98984994e-02, -8.17374579e-02, -5.22189020e-02,
        -1.11132316e-01, -1.33619423e-02,  7.64553815e-02,  8.00011491e-02,
        -6.49079372e-02, -8.64043840e-02,  6.93511449e-02,  7.61292432e-02,
        -2.45115362e-02])]

In [174]:
recc_book_list

[88389638.0,
 6318087.0,
 69734406.0,
 74393609.0,
 85030922.0,
 35280911.0,
 29653007.0,
 75552785.0,
 2312211.0,
 89913366.0,
 22865949.0,
 89894948.0,
 241709.0,
 352305.0,
 40560690.0,
 17561653.0,
 90087484.0,
 3342397.0,
 90064965.0,
 90075205.0,
 78860364.0,
 89827405.0,
 89927758.0,
 16777296.0,
 74031185.0,
 90075216.0,
 84189271.0,
 28325977.0,
 71850084.0,
 89333861.0,
 88389733.0,
 86241389.0,
 89987184.0,
 89903225.0,
 12648570.0,
 87629946.0,
 75554940.0,
 88373374.0,
 90003585.0,
 44179587.0,
 28113033.0,
 84891785.0,
 78217357.0,
 90075280.0,
 11546769.0,
 75235476.0,
 75200668.0,
 88371357.0,
 60778656.0,
 4522145.0,
 89553061.0,
 89553062.0,
 12687530.0,
 90106027.0,
 30152890.0,
 90075325.0,
 32723134.0,
 83519680.0,
 76470464.0,
 90085586.0,
 37525716.0,
 90075357.0,
 90075364.0,
 89221351.0,
 34914538.0,
 31076595.0,
 78651636.0,
 30748920.0,
 72159493.0,
 61384972.0,
 89643276.0,
 67133713.0,
 90046741.0,
 84936998.0,
 36925738.0,
 83763499.0,
 59023664.0,
 89307469.0,
 67518799.0,
 73775440.0,
 15399250.0,
 16882003.0,
 7528795.0,
 67094876.0,
 57504093.0,
 58251613.0,
 89831779.0,
 81465704.0,
 7950702.0,
 9152890.0,
 90114432.0,
 89309569.0,
 72251785.0,
 63594890.0,
 13136271.0,
 36925841.0,
 8708499.0,
 85578137.0,
 67094938.0,
 85578138.0,
 4458918.0,
 89328042.0,
 84892079.0,
 75749811.0,
 3473847.0,
 74260921.0,
 86008250.0,
 5904828.0,
 68784574.0,
 89326015.0,
 89326029.0,
 9011665.0,
 9011666.0,
 63793619.0,
 69757396.0,
 61356506.0,
 12759517.0,
 4827619.0,
 61780456.0,
 89999850.0,
 28072431.0,
 75192817.0,
 78873080.0,
 201210.0,
 30548474.0,
 54587899.0,
 55249405.0,
 13572606.0,
 79297023.0,
 90114559.0,
 30669315.0,
 72270340.0,
 74260998.0,
 90108425.0,
 80742923.0,
 23030284.0,
 86690319.0,
 69050897.0,
 88414739.0,
 4170260.0,
 25258520.0,
 8761882.0,
 3209757.0,
 89168414.0,
 89745952.0,
 90114596.0,
 4244004.0,
 87038511.0,
 53584432.0,
 64694842.0,
 89496128.0,
 5919307.0,
 90088015.0,
 53580370.0,
 69311060.0,
 80855642.0,
 25145946.0,
 35887706.0,
 37923418.0,
 66753119.0,
 89903712.0,
 89385573.0,
 66323045.0,
 19886699.0,
 65550971.0,
 59495035.0,
 61790845.0,
 23116421.0,
 23116422.0,
 60607116.0,
 90047118.0,
 89784975.0,
 89969300.0,
 90118806.0,
 61844119.0,
 85963416.0,
 23116441.0,
 58010262.0,
 15260316.0,
 63038113.0,
 85930657.0,
 23116452.0,
 18360997.0,
 4700838.0,
 47239848.0,
 23116458.0,
 76638891.0,
 89178799.0,
 89969329.0,
 69610162.0,
 89895602.0,
 77986484.0,
 64340664.0,
 61778623.0,
 80089805.0,
 90108623.0,
 15260370.0,
 86543063.0,
 59198169.0,
 59198184.0,
 77136621.0,
 4299517.0,
 43248387.0,
 44331788.0,
 24912652.0,
 82768655.0,
 89697040.0,
 3293969.0,
 90004246.0,
 69055262.0,
 1440543.0,
 90088226.0,
 6359843.0,
 89420578.0,
 37100329.0,
 89916204.0,
 80120621.0,
 85431092.0,
 87530293.0,
 90047286.0,
 29078325.0,
 2870072.0,
 90071865.0,
 64693051.0,
 23892795.0,
 88240957.0,
 3906369.0,
 53222211.0,
 73268037.0,
 89375566.0,
 72215376.0,
 54233937.0,
 72227668.0,
 25846616.0,
 82131803.0,
 90061659.0,
 59272030.0,
 3031902.0,
 80739168.0,
 89604960.0,
 90082148.0,
 90071909.0,
 28193639.0,
 6157159.0,
 64340844.0,
 90125165.0,
 59562864.0,
 52896642.0,
 86938499.0,
 3576708.0,
 70140815.0,
 89967507.0,
 78226335.0,
 86895523.0,
 88918959.0,
 90002351.0,
 90039222.0,
 89746358.0,
 86410173.0,
 76106687.0,
 89904068.0,
 3922884.0,
 2593734.0,
 17352.0,
 69733321.0,
 5962700.0,
 90115028.0,
 81507290.0,
 82895840.0,
 51098593.0,
 89938914.0,
 34925543.0,
 90108907.0,
 86137835.0,
 89990128.0,
 66372594.0,
 2110455.0,
 87116793.0,
 11686910.0,
 89924610.0,
 59720706.0,
 89969668.0,
 86361094.0,
 69751818.0,
 88318987.0,
 234509.0,
 59720717.0,
 57922586.0,
 57922588.0,
 8379424.0,
 3392549.0,
 89707566.0,
 90076213.0,
 74206263.0,
 8637498.0,
 89404482.0,
 2659394.0,
 89525316.0,
 24937547.0,
 5108814.0,
 3611728.0,
 9163867.0,
 87473252.0,
 57242725.0,
 86641767.0,
 38927465.0,
 23786603.0,
 5694572.0,
 89584750.0,
 77673587.0,
 8420477.0,
 8160385.0,
 89580674.0,
 29379720.0,
 5667977.0,
 90061963.0,
 24259730.0,
 68693139.0,
 13014164.0,
 89859221.0,
 74814614.0,
 89855125.0,
 89091230.0,
 90039458.0,
 78509219.0,
 89869475.0,
 85025957.0,
 70812839.0,
 29297832.0,
 60505256.0,
 89484458.0,
 89851054.0,
 89386166.0,
 86410426.0,
 7914688.0,
 89760966.0,
 57922769.0,
 85466321.0,
 6395091.0,
 59428053.0,
 75214039.0,
 90000600.0,
 89869527.0,
 89375963.0,
 22793441.0,
 86543588.0,
 2708714.0,
 17454340.0,
 69068037.0,
 89969932.0,
 41850126.0,
 74814738.0,
 90047764.0,
 83492117.0,
 89826582.0,
 86646038.0,
 89826584.0,
 23194906.0,
 89386272.0,
 17921314.0,
 3724580.0,
 3724582.0,
 90115366.0,
 85462330.0,
 89666874.0,
 89240892.0,
 59260220.0,
 37100864.0,
 70171970.0,
 71923011.0,
 85466451.0,
 39441749.0,
 86160726.0,
 57552214.0,
 57552217.0,
 37209436.0,
 57552221.0,
 90035550.0,
 89597280.0,
 77272418.0,
 75554146.0,
 7570794.0,
 60605809.0,
 89240946.0,
 90117505.0,
 60208514.0,
 90062213.0,
 6425989.0,
 71050635.0,
 3128721.0,
 57552273.0,
 90076563.0,
 3128723.0,
 4617626.0,
 1990043.0,
 1457563.0,
 90052002.0,
 57552294.0,
 30547371.0,
 89605549.0,
 89871791.0,
 57552304.0,
 1494449.0,
 89939383.0,
 86939063.0,
 24034748.0,
 23358909.0,
 1494462.0,
 1494465.0,
 53235148.0,
 2311628.0,
 1494478.0,
 1494479.0,
 1494481.0,
 15615446.0,
 26152411.0,
 359901.0,
 1494497.0,
 67292643.0,
 1494499.0,
 89937382.0,
 78665192.0,
 90109417.0,
 89179626.0,
 88372713.0,
 30387696.0,
 30555650.0,
 86967811.0,
 89593348.0,
 34919942.0,
 8676870.0,
 32456200.0,
 61779464.0,
 34919948.0,
 70862349.0,
 64575001.0,
 89468441.0,
 67094041.0,
 65566236.0,
 19078685.0,
 8324641.0,
 33529377.0,
 41076259.0,
 13604388.0,
 56873.0,
 90086954.0,
 18458156.0,
 32489004.0,
 4300339.0,
 70227508.0,
 60755515.0,
 22431294.0,
 64589379.0,
 3806794.0,
 20536907.0,
 84659792.0,
 75554388.0,
 23602775.0,
 86023767.0,
 43843163.0,
 68157021.0,
 23602785.0,
 56024674.0,
 23602788.0,
 89939559.0,
 83549800.0,
 66422376.0,
 62129776.0,
 89468528.0,
 64337524.0,
 86621816.0,
 20008583.0,
 72158875.0,
 5975707.0,
 87531165.0,
 76105377.0,
 89468580.0,
 85030564.0,
 390826.0,
 62635691.0,
 85030572.0,
 74360497.0,
 90064564.0,
 6778558.0,
 81503945.0,
 37211852.0,
 5725907.0,
 11302612.0,
 13434581.0,
 30217950.0,
 89784031.0,
 89868000.0,
 89958114.0,
 31082217.0,
 89958123.0,
 8199919.0,
 61503216.0,
 40204017.0,
 89462513.0,
 61933303.0,
 86427384.0,
 89988859.0,
 64745213.0,
 6747902.0,
 89429762.0,
 90062598.0,
 69476105.0,
 89325322.0,
 87631628.0,
 62633746.0,
 15402774.0,
 8861480.0,
 241455.0,
 60512049.0,
 15406901.0,
 90072889.0,
 11022143.0,
 86427460.0,
 89640773.0,
 89648975.0,
 65101648.0,
 68749139.0,
 81500000.0,
 71849830.0,
 2746218.0,
 89306996.0,
 33599350.0,
 57659256.0,
 88373114.0,
 87306110.0,
 84801406.0,
 75554690.0,
 4708229.0,
 5982086.0,
 67350410.0,
 69724044.0,
 88965013.0,
 37300128.0,
 68724647.0,
 89939883.0,
 87490484.0,
 8017844.0,
 89243578.0,
 69281729.0,
 86017987.0,
 89386952.0,
 9406409.0,
 58671052.0,
 58787793.0,
 63688657.0,
 38242266.0,
 89317338.0,
 90128350.0,
 89108446.0,
 75456481.0,
 65282018.0,
 12468207.0,
 24834032.0,
 66754547.0,
 85927924.0,
 70907891.0,
 89581557.0,
 85030904.0,
 18489338.0,
 89872379.0,
 80228348.0,
 33511421.0,
 59674622.0]

In [176]:
df_100[df_100['product_id'].isin(recc_book_list)]['price'].sum()

5365690.0

In [177]:
df_100[df_100['product_id'].isin(recc_book_list)]['purchase'].sum()

391.0

In [104]:
df_100

      account_id  product_id    price  purchase  book_cluster  user_cluster
0         113512    89940862      0.0       0.0           4.0           3.0
1         113512    84434768      0.0       0.0           2.0           3.0
2         113512    74393338      0.0       0.0           2.0           3.0
3         113512    90108425      0.0       0.0           3.0           3.0
4         113512    85927898      0.0       0.0           3.0           3.0
...          ...         ...      ...       ...           ...           ...
4128    16790454    90061659      0.0       0.0           3.0           1.0
4129    16790454    89222585  14400.0       1.0           3.0           1.0
4130    16790454    89903437      0.0       0.0           3.0           1.0
4131    16790454    90114596      0.0       0.0           3.0           1.0
4132    16790454    90039222      0.0       0.0           3.0           1.0

[4133 rows x 6 columns]

In [99]:
df_100 = pd.read_csv('/home/yes24/capstone/영송공유폴더/test_100.csv')
df_100

      account_id  product_id    price  purchase  book_cluster  user_cluster
0         113512    89940862      0.0       0.0           4.0           3.0
1         113512    84434768      0.0       0.0           2.0           3.0
2         113512    74393338      0.0       0.0           2.0           3.0
3         113512    90108425      0.0       0.0           3.0           3.0
4         113512    85927898      0.0       0.0           3.0           3.0
...          ...         ...      ...       ...           ...           ...
4128    16790454    90061659      0.0       0.0           3.0           1.0
4129    16790454    89222585  14400.0       1.0           3.0           1.0
4130    16790454    89903437      0.0       0.0           3.0           1.0
4131    16790454    90114596      0.0       0.0           3.0           1.0
4132    16790454    90039222      0.0       0.0           3.0           1.0

[4133 rows x 6 columns]

In [13]:
user_fin = pd.read_csv('/home/yes24/capstone/원진공유폴더/일요일에고생이많다/user_dummified_1df_0628.csv')

In [14]:
book_fin = pd.read_csv('/home/yes24/capstone/원진공유폴더/일요일에고생이많다/bookfeature_dummified_0628.csv')
book_fin.drop(columns=book_fin.columns[0],inplace=True)

In [15]:
user100_list = df_100['account_id'].unique()

In [16]:
pro100_list = df_100['product_id'].unique()

In [17]:
user_fin[user_fin['account_id'].isin(user100_list)]

,account_id,gender_0.0,gender_1.0,g_age_0.0,g_age_1.0,g_age_2.0,g_age_3.0,g_age_4.0,g_age_5.0,g_age_6.0,...,most_pref_23.0,most_pref_25.0,most_pref_27.0,most_pref_29.0,most_pref_33.0,most_pref_34.0,new_pref_0,new_pref_1,address_is_0,address_is_1
12301,231022.0,1,0,0,0,0,1,0,0,0,...,0,0,0,1,0,0,1,0,0,1
13217,2232676.0,1,0,0,0,0,0,0,1,0,...,0,0,0,0,0,1,1,0,0,1
13641,3300415.0,1,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,1
28128,9805328.0,1,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,1,0,0,1
49539,2122933.0,1,0,0,0,0,1,0,0,0,...,0,0,1,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1166997,1569435.0,0,1,0,0,0,0,1,0,0,...,0,0,1,0,0,0,1,0,0,1
1167226,2332587.0,0,1,0,0,0,0,1,0,0,...,0,0,0,0,1,0,1,0,0,1
1204153,3056585.0,1,0,0,0,0,0,1,0,0,...,0,0,0,1,0,0,1,0,0,1
1209537,1176113.0,0,1,0,0,0,1,0,0,0,...,0,0,0,0,0,1,1,0,0,1
1212458,8589820.0,0,1,0,0,0,0,1,0,0,...,0,0,1,0,0,0,1,0,0,1

In [18]:
book_fin[book_fin['product_id'].isin(pro100_list)]

,product_id,cat1.0,cat2.0,cat3.0,cat4.0,cat5.0,cat7.0,cat8.0,cat9.0,cat10.0,...,cat34.0,pub0.0,pub1.0,pub2.0,pub3.0,pub4.0,pri0.0,pri1.0,pri2.0,pri3.0
236,55868083,0,0,1,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
246,55869065,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
340,55936772,0,0,0,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,1,0
348,55944631,0,0,0,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,1,0
374,55976113,0,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
269937,85030922,0,0,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
270155,85108883,0,0,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
270172,85109178,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
270304,85112006,1,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
270432,85122333,0,0,0,0,0,0,0,0,0,...,1,0,1,0,0,0,0,0,1,0

In [19]:
user_context_add = pd.merge(df_100,user_fin,on='account_id',how='left')
user_context_add

,account_id,product_id,price,purchase,book_cluster,user_cluster,gender_0.0,gender_1.0,g_age_0.0,g_age_1.0,...,most_pref_23.0,most_pref_25.0,most_pref_27.0,most_pref_29.0,most_pref_33.0,most_pref_34.0,new_pref_0,new_pref_1,address_is_0,address_is_1
0,113512,89940862,0.0,0.0,4.0,3.0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,1
1,113512,84434768,0.0,0.0,2.0,3.0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,1
2,113512,74393338,0.0,0.0,2.0,3.0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,1
3,113512,90108425,0.0,0.0,3.0,3.0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,1
4,113512,85927898,0.0,0.0,3.0,3.0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4128,16790454,90061659,0.0,0.0,3.0,1.0,0,1,0,0,...,0,0,0,0,0,0,0,1,1,0
4129,16790454,89222585,14400.0,1.0,3.0,1.0,0,1,0,0,...,0,0,0,0,0,0,0,1,1,0
4130,16790454,89903437,0.0,0.0,3.0,1.0,0,1,0,0,...,0,0,0,0,0,0,0,1,1,0
4131,16790454,90114596,0.0,0.0,3.0,1.0,0,1,0,0,...,0,0,0,0,0,0,0,1,1,0
4132,16790454,90039222,0.0,0.0,3.0,1.0,0,1,0,0,...,0,0,0,0,0,0,0,1,1,0

In [20]:
df_100_fin = pd.merge(user_context_add, book_fin, on='product_id',how='left')
df_100_fin

,account_id,product_id,price,purchase,book_cluster,user_cluster,gender_0.0,gender_1.0,g_age_0.0,g_age_1.0,...,cat34.0,pub0.0,pub1.0,pub2.0,pub3.0,pub4.0,pri0.0,pri1.0,pri2.0,pri3.0
0,113512,89940862,0.0,0.0,4.0,3.0,1,0,0,0,...,0,0,0,0,0,1,0,0,1,0
1,113512,84434768,0.0,0.0,2.0,3.0,1,0,0,0,...,1,0,1,0,0,0,0,0,1,0
2,113512,74393338,0.0,0.0,2.0,3.0,1,0,0,0,...,1,0,0,1,0,0,0,0,1,0
3,113512,90108425,0.0,0.0,3.0,3.0,1,0,0,0,...,0,1,0,0,0,0,0,1,0,0
4,113512,85927898,0.0,0.0,3.0,3.0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4128,16790454,90061659,0.0,0.0,3.0,1.0,0,1,0,0,...,0,1,0,0,0,0,0,0,1,0
4129,16790454,89222585,14400.0,1.0,3.0,1.0,0,1,0,0,...,0,1,0,0,0,0,0,0,1,0
4130,16790454,89903437,0.0,0.0,3.0,1.0,0,1,0,0,...,0,1,0,0,0,0,0,0,1,0
4131,16790454,90114596,0.0,0.0,3.0,1.0,0,1,0,0,...,0,1,0,0,0,0,0,0,1,0
4132,16790454,90039222,0.0,0.0,3.0,1.0,0,1,0,0,...,1,1,0,0,0,0,0,0,1,0

In [63]:
df_100_fin.to_csv('df100_test_0701.csv',index=False)