In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('./context24.csv')

In [9]:
data

,product_id,purchase,month,F/O/0,F/O/1,F/O/2,F/O/3,F/O/4,F/O/5,F/O/6,...,M/N/14,M/N/15,M/N/16,M/N/17,M/N/18,M/N/19,M/N/20,M/N/21,M/N/22,M/N/23
0,12,0.0,5,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,19,1.0,5,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,10,0.0,5,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,10,0.0,5,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,17,0.0,3,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1148632,20,1.0,5,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1148633,20,1.0,5,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1148634,20,1.0,5,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1148635,14,0.0,5,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1148636,14,0.0,5,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
data_2 = data[['product_id','purchase','month',
               'F/O/0','F/N/0','M/O/0','M/N/0','F/O/1','F/N/1','M/O/1','M/N/1',
              'F/O/2','F/N/2','M/O/2','M/N/2','F/O/3','F/N/3','M/O/3','M/N/3',
              'F/O/4','F/N/4','M/O/4','M/N/4','F/O/5','F/N/5','M/O/5','M/N/5',
              'F/O/6','F/N/6','M/O/6','M/N/6','F/O/7','F/N/7','M/O/7','M/N/7',
              'F/O/8','F/N/8','M/O/8','M/N/8','F/O/9','F/N/9','M/O/9','M/N/9',
              'F/O/10','F/N/10','M/O/10','M/N/10','F/O/11','F/N/11','M/O/11','M/N/11',
              'F/O/12','F/N/12','M/O/12','M/N/12','F/O/13','F/N/13','M/O/13','M/N/13',
              'F/O/14','F/N/14','M/O/14','M/N/14','F/O/15','F/N/15','M/O/15','M/N/15',
              'F/O/16','F/N/16','M/O/16','M/N/16','F/O/17','F/N/17','M/O/17','M/N/17',
              'F/O/18','F/N/18','M/O/18','M/N/18','F/O/19','F/N/19','M/O/19','M/N/19',
               'F/O/20','F/N/20','M/O/20','M/N/20','F/O/21','F/N/21','M/O/21','M/N/21',
              'F/O/22','F/N/22','M/O/22','M/N/22','F/O/23','F/N/23','M/O/23','M/N/23']]

In [8]:
data_2

,product_id,purchase,month,F/O/0,F/N/0,M/O/0,M/N/0,F/O/1,F/N/1,M/O/1,...,M/O/21,M/N/21,F/O/22,F/N/22,M/O/22,M/N/22,F/O/23,F/N/23,M/O/23,M/N/23
0,12,0.0,5,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,19,1.0,5,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,10,0.0,5,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,10,0.0,5,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,17,0.0,3,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1148632,20,1.0,5,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1148633,20,1.0,5,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1148634,20,1.0,5,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1148635,14,0.0,5,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1148636,14,0.0,5,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
data_2.to_csv('yes25.csv', index=False)

In [11]:
pd.read_csv('yes25.csv')

,product_id,purchase,month,F/O/0,F/N/0,M/O/0,M/N/0,F/O/1,F/N/1,M/O/1,...,M/O/21,M/N/21,F/O/22,F/N/22,M/O/22,M/N/22,F/O/23,F/N/23,M/O/23,M/N/23
0,12,0.0,5,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,19,1.0,5,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,10,0.0,5,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,10,0.0,5,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,17,0.0,3,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1148632,20,1.0,5,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1148633,20,1.0,5,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1148634,20,1.0,5,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1148635,14,0.0,5,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1148636,14,0.0,5,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0